[2021-05-21 23:36] ysroh commented on #191
@j26151 I merged the fix. I tested your scenario and added a part listener so we can check unresolved references. I still need to work on the validation issue so all broken links are detected during the validation.

[2021-05-24 12:18] j26151 commented on #191
@ysroh It appears that both issues that I brought up are fixed now. Can you elaborate on what you are still working on?

[2021-05-25 12:32] ysroh commented on #191
@j26151 Can I close this issue then? The only other issue that we need to look into is the external reference validation issue.  I created a ticket for that. Issue #242.

[2021-05-25 12:35] j26151 commented on #191
@ysroh Yes, I wasn't sure what the issue was that you were still working on, but if there is another issue written for it then feel free to close this one.

[2021-05-25 12:37] ysroh commented on #191
@j26151 Thanks. I will work on the validation issue on a separate ticket as it involves working with DDK.

[2021-05-25 12:38] #191 closed

[2021-05-25 13:45] #238 closed

[2021-05-25 14:19] rgs424 opened #246 "Can not navigate between assemblies and subassemblies"
# **Issue and tracking information**

Hyperlinking of assemblies:  When dragging an assembly onto a parent assembly's diagram, it should automatically create a link to the diagram of that sub-assembly so that when a user doubled clicks on it in the parent diagram, it opens up the child assembly.  This functionality is missing.

while it can manually be recreated through a multi-step non-obvious pr

[2021-05-25 14:49] ysroh commented on #246
@J17359 Do you want me to work on this ticket first?

[2021-05-25 14:53] j26151 commented on #246
@ysroh Yes please. This is a pretty big issue for our users.

[2021-05-25 15:26] rgs424 opened #247 "Symbol for subscribe port flips based on location"
# **Issue and tracking information**

I added a subscribe port to a component. Then I dragged it to a new location and the symbol inverted. This is reproduceable.

In the 2 pictures below, you can the port symbol inverts when clicking the up/down arrow button once.

![image](https://user-images.githubusercontent.com/13985583/119524762-ebba8b00-bd4b-11eb-8e42-2c212ad6a415.png)

![image](https://use

[2021-05-25 15:49] rgs424 opened #248 "Delegate port contains permanent arrow"
# **Issue and tracking information**

This may be related to another issue (SNA-246), but when I create a delegating port, it contains an ARROW that won't go away. It is this this way  as soon as I add the port to the diagram. This makes it difficult for a user to see the port type.

![image](https://user-images.githubusercontent.com/13985583/119528124-f0cd0980-bd4e-11eb-984f-42973f7a3a1a.png)

##

[2021-05-25 17:03] j26151 opened #249 "Accidental dragging of assemblies into themselves does not always spawn an error dialog"
# **Issue and tracking information**
When modeling if a user has an assembly diagram for assembly A and they accidentally drag an assembly A into the diagram, we would expect to see an error message about model integrity. This does happen in some instances, but not all. In the instances where the error message does not appear, Papyrus hangs indefinitely and must be killed via. the command line.

A

[2021-05-26 19:00] ysroh commented on #246
Double click on a sub-assembly part should open the assembly diagram of the sub-assembly part.

[2021-05-26 19:34] rgs424 commented on #246
Would it be helpful to provide you a zip file containing my workspace?

On Wed, May 26, 2021 at 3:00 PM Young-Soo Roh ***@***.***>
wrote:

[2021-05-26 21:11] ysroh commented on #246
I am sorry that I wasn’t clear. I committed the fix and merged to papyrus branch so it should work if you test this using the latest build.

[2021-05-26 23:44] rgs424 commented on #246
ah ok thank you!!

On Wed, May 26, 2021 at 5:11 PM Young-Soo Roh ***@***.***>
wrote:

[2021-05-28 15:00] j26151 commented on #246
I have verified this has been fixed. Thank you.

[2021-05-28 17:07] #246 closed

[2021-05-28 17:07] #249 closed

[2021-06-01 11:26] J17359 opened #252 "Comments on Papyrus CX model elements are extremely difficult to read and edit"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
This is a critical blocker in the Papyrus CX tool which will prevent its use for defining new or modified architectures for an upcoming need. All documentation in IDL and Do

[2021-06-01 13:34] ysroh commented on #252
@J17359 I will work on this issue first as Issue #248 might take a little longer to figure out.

[2021-06-01 13:39] J17359 commented on #252
Agreed. #247 and #248 are much lower on the priority list (hence me not marking them as "ngc: approved to work" yet)

[2021-06-02 19:46] ysroh commented on #252
![image](https://user-images.githubusercontent.com/896503/120542822-8d2f8580-c3b9-11eb-8632-8ee48f8443ab.png)

@J17359 Do you think adding a simple text area at the end of CX properties view would work?? I could not find a way to remove the existing Comments tab.

[2021-06-04 15:54] J17359 commented on #252
I think it's much better than before, but I think having the comments tab persist might cause user confusion. If this is the only thing we can do to provide them with a better interface for comments, I'm all for it. But would definitely prefer to avoid having them stumble onto the comments tab where this is not the case.

[2021-06-07 12:57] ysroh commented on #252
@J17359 Agreed. I think I can find a way to reuse the existing comment tab. I will let you know soon. Thanks

[2021-06-07 14:57] J17359 opened #253 "Deployment Editor not resolving assemblies correctly"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
When you drag an assembly into the “Configure” pane of the Deployment Editor, it should expand to show its relevant connections and components. However it currently does not

[2021-06-07 15:43] ysroh commented on #252
@J17359 As I was looking into actual code for UML comments I found out that the rich text editor was available through the preference page so I enabled it by default.
Please let me know if this works out, thanks.

[2021-06-07 16:49] J17359 commented on #252
Thanks @ysroh ! I just built the latest CX RPM internally and will test today. I'll report back here after.

[2021-06-08 13:01] ysroh commented on #253
Fixed and merged.

[2021-06-08 13:11] J17359 commented on #253
Feel free to close this issue. We've verified it works on our end. Thanks!

[2021-06-08 13:12] J17359 commented on #252
@ysroh - I've verified that this fix looks good during my testing. Before we close this issue, however, I'd like to demo this new functionality to the architect who asked for the fix to make sure it works for him. Once I verify that, I'll respond back here. Thanks again for the quick turnaround!

[2021-06-08 13:13] ysroh commented on #253
Thanks

[2021-06-08 13:13] #253 closed

[2021-06-09 18:57] ysroh commented on #252
Thanks.

[2021-06-09 18:57] #252 closed

[2021-06-10 11:11] J17359 opened #257 "Show/Hide Contents Dialog for Assembly Diagrams is Broken"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
Once made visible, either by default or post-creation manual enable, it is not possible to hide Property and Attributes boxes on component assemblies on assembly diagrams. 

[2021-06-10 12:59] ysroh commented on #248
Fixed and merged

[2021-06-11 13:29] ysroh commented on #257
@J17359 Do you ever need to put those properties or attributes back to the diagram? The reason why I am asking is that the diagram is currently synced with the model so it cannot run mixed mode. I can hide the attributes from the diagram but you won't be able to put them back again unless you turn off the "Sync with model" option from the Appearance tab. So let me know if you really need to have t

[2021-06-11 15:53] ysroh commented on #257
Thanks. I will hide attributes.

Can you let me know how I can reproduce this? I only see comments block if I show the internal structure of the part. If that's the problem then I will hide them from the internal structure compartment.

I don't think it would be an easy fix just because we might have to fix Papyrus itself if we cannot find a workaround to override base functionality. I was lucky t

[2021-06-11 18:55] MHayman5 commented on #257
After further investigation the comment/documentation blocks that show up are only in the case of adding comments to an assembly or monolithic implementation model element, vs. their parent CCMComponent element.  Comments are supposed to be applied to the CCMComponent parent, not to their child implementations.  So likely not a problem.

However, there are users that are adding a new Composite Str

[2021-06-11 19:30] ysroh commented on #257
Please see comments inline

Understood.

That's right. I don't think it makes sense to create a composite structure diagram under CCM component.
However,  I am not sure if I want to hide the comments from the diagram since it is a valid use-case to add comments on a composite diagram using the palette entry.

I can reproduce this problem. I will work on it. Thanks.

[2021-06-15 15:21] ysroh commented on #257
It is not possible to override the behaviour of the existing show/hide compartment filter so I would like to add a menu to reset the compartment filter to go back to the initial setting.

Let me know if you are ok with this solution.

![image](https://user-images.githubusercontent.com/896503/122079798-beea1880-cdcb-11eb-9e73-46df25bed025.png)

[2021-06-15 20:31] MHayman5 commented on #257
Sounds like a workable solution, as long as the initial defaults are OK.  For Compartments we believe they are.  For Contents probably not (e.g., properties, attributes and comments on components).

[2021-06-16 13:30] ysroh commented on #257
I will have the fix soon but my assumption is that the structure diagram is created under the assembly. I will create a separate ticket to disable the creation of the structure diagram from the component.

[2021-06-16 14:43] ysroh commented on #257
I will also hide attributes/properties/comments from the composite structure diagram created under the CCMComponent for now.

[2021-06-17 13:41] ysroh commented on #257
Fixed. Please verify the fix and let me know if you have any comments. Thanks

[2021-06-18 14:19] rgs424 commented on #257
Hi, I am trying to verify this feature. Am I supposed to see this menu item? I just want to make sure I am looking for the right thing.

![image](https://user-images.githubusercontent.com/13985583/122575348-a6be0780-d01e-11eb-928f-0f204183eaf6.png)

[2021-06-18 14:26] ysroh commented on #257
Yes. The menu is there to reset compartment settings. The reason is that if you enable some compartments using Show/Hide compartments menu there are some visible items that you can never get ride of. You need to verify that everything looks good in diagram after running the reset compartment menu.
One way to test this is to enable all compartments via Show/Hide compartments menu and then run reset

[2021-06-21 15:04] ysroh commented on #247
Fixed and merged to Papyrus branch.

[2021-06-22 09:48] J17359 commented on #247
Tested and verified on our end. This issue can be closed, thanks @ysroh !

[2021-06-22 09:50] J17359 commented on #248
Tested and verified on our side. This issue can be closed, thanks again!

[2021-06-22 09:51] J17359 commented on #257
We've tested and verified the fix on new models. Still doing some more testing on existing models to see if the behavior matches what we'd expect. I'll respond back when that testing is complete.

[2021-06-22 11:48] J17359 opened #260 "Fix issue with additional empty space being added after specifying a connector type in the CX pane"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
When typing ports in the SNA 2.X modeling tool, typing data spaces can cause an odd bug causing the contents of the CX pane to be drastically spaced to the right.
![image](h

[2021-06-22 11:49] J17359 opened #261 "Generate IDL should work at different levels in model"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
Generate IDL (and descriptors) used to work at different levels in model.  It can be done on a component or a message or a module, but not on a package (like a defn package)

[2021-06-22 13:15] #247 closed

[2021-06-22 13:15] ysroh commented on #248
Thanks

[2021-06-22 13:15] #248 closed

[2021-06-22 16:07] ysroh commented on #261
Fixed and merged to Papyrus branch

[2021-06-22 20:14] ysroh commented on #260
@J17359 Can you please share some more details on how to reproduce this issue? There might be an error log causing this to happen.

[2021-06-23 09:44] J17359 commented on #257
This ticket can be closed @ysroh - additional testing continued to prove that it was working. Thanks!

[2021-06-23 09:59] J17359 commented on #260
I'll need @j26151 to help with that. He was the original reporter of this ticket (on our side) so he may have an environment set up already somewhere...

[2021-06-23 13:43] ysroh commented on #257
Thanks

[2021-06-23 13:43] #257 closed

[2021-06-24 11:38] j26151 commented on #261
This looks fixed on our end. Thank you.

[2021-06-24 12:57] ysroh commented on #261
Thanks

[2021-06-24 12:57] #261 closed

[2021-06-24 16:37] j26151 opened #263 "Creating a "Connector Default Value Binding" does not modify the model"
# **Issue and tracking information**
Creating a "Connector Default Value Binding" does not appear to do anything to the model and does not provide the ability to configure defaults for a DDS_Event (or anything else)

To reproduce, follow these steps on the model in the attached BPS project:

1. Open the BasicPubSub model in ModelFiles
2. Navigate to assemblies/Deployment/descriptors
3. Right click

[2021-06-28 13:02] j26151 commented on #260
I have not been able to reproduce this on my end. I would suggest we close this issue and we can write a new one if we ever encounter this again.

[2021-06-28 13:11] ysroh commented on #260
Please keep the error log if it happens again. Thanks.

[2021-06-28 13:11] #260 closed

[2021-06-28 19:33] ysroh commented on #242
Fixed.

[2021-06-29 10:52] j26151 commented on #263
@ysroh Please investigate this as soon as you can. Thank you

[2021-06-29 18:04] ysroh commented on #263
Fixed and merged to Papyrus branch.

[2021-06-30 12:39] j26151 commented on #263
This looks fixed on our end. Thank you for the fast turnaround. This issue can be closed.

[2021-06-30 12:41] ysroh commented on #263
Thanks

[2021-06-30 12:41] #263 closed

[2021-06-30 16:31] j26151 opened #266 "New Export tool for keeping assemblies has bad links to referenced models."
# **Issue and tracking information**
Before we had the assembly diagram information fix, we would export all of our models using the export tool and choosing the UML export wizard. After the assembly diagram information feature was added we were to just click "Export Tools > Export to UML" instead. However, this causes issues with any model that is referencing another model.  Here is a scenario:

[2021-06-30 21:44] ysroh commented on #266
@j26151 I just want to clarify this. So you want to keep the references to the EMX file from the exported UML file, right?

[2021-07-01 10:31] j26151 commented on #266
@ysroh  When we import ModelB.uml and ModelA.uml, into Papyrus, we want all of the references to be satisfied and correct when using the "Export Tools > Export to UML". This does not happen today, because all references that ModelB.emx had to ModelA.emx are retained, in the newly export ModelB.uml file as "ModelA.emx", which is wrong, because once we import it into Papyrus, ".emx" files do not exi

[2021-07-07 14:41] ysroh commented on #266
Fixed and merged to master branch.

[2021-07-07 15:24] #242 closed

[2021-07-07 16:09] j26151 commented on #266
Thank you, this works on our end. You can close this.

[2021-07-07 16:20] ysroh commented on #266
Thanks

[2021-07-07 16:20] #266 closed

[2021-07-13 20:41] ysroh commented on #224
I have tried to put a fix for this one and it seemed that the fix was working. However, I found out that the fix does not work due to Papyrus's automatic layout happening when the diagram is on focus the first time. Any changes to the diagram before the automatic layout will be lost. Unfortunately, I suggest using the current solution for the diagram migration.

@J17359 Let us know if you want me

[2021-07-15 13:45] ysroh commented on #224
The current "Refactor-> Model Migration" action will create all composite structure diagrams that require diagram migration so users don't have to navigate to each assembly to create a diagram in order to import RSA diagram layout.
I will close this issue but feel free to let us know if you have any other suggestions on this matter.

[2021-07-15 13:45] #224 closed

[2021-07-15 14:05] J17359 commented on #224
Thanks @ysroh. We'll go through our backlog and enter some more tickets into GitHub for you to work as you have time.

[2021-07-16 14:32] J17359 commented on #94
@ysroh - Any word on this from your friends at Papyrus/Eclipse? I know our users will 100% ask why this doesn't work (not blaming you) so figured I'd check in on the status.

[2021-07-16 14:48] J17359 opened #269 "Improve setting unbounded strings and generated error messages"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
Unbounded strings can be set by setting the bounds to Unlimited, but in RSA you were able to leave the value as null and it work correctly. It would nice if this behavior wa

[2021-07-16 15:05] J17359 opened #270 "Include a way to know what models are referenced by current model (similar to References tab in RSA)"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
Need a way to know (similar to RSA's References tab) what models reference and what models are referenced by the current model. It would also be good to know (RSA didn't hav

[2021-07-16 15:09] J17359 commented on #270
@ysroh - Before jumping into fixing this, please throw out some ideas for how to solve this. We are really interested in dynamic path mapping and really want to ensure that it is usable and errors/warnings are friendly and instructive for users that have missing models/broken links in their workspace.

[2021-07-16 15:17] J17359 opened #271 "Improve Model Explorer so users can view all models at once"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
When you first open a project and switch to the Model Explorer tab, you're presented with the message "No Models Available"  Its very non-intuitive that you have to switch t

[2021-07-19 13:42] ysroh commented on #94
@J17359 I don't think anyone will work on this in the near future. I think we have two choices. We can provide a fix to the Papyrus team to commit the fix for us or we can fork the Papyrus branch and maintain this branch as we did for the EMF compare branch.
The fix isn't simple since we need to provide a framework for the generic action handler for model explorer tree elements.
We will give a lit

[2021-07-19 14:16] ysroh commented on #269
@J17359 I just tested and the null bounded string does not validate in RSA. I suspect that some validations do not kick in due to some refactoring done in the CORBA domain. I will check these validations and add them back in.

[2021-07-19 14:17] ysroh commented on #269
![image](https://user-images.githubusercontent.com/896503/126174808-e66ad655-889c-4f85-82ec-a3f360bc4533.png)

[2021-07-19 15:07] J17359 commented on #94
@ysroh - That's fine! I was just checking in on this issue. I agree that maintaining your own branch wouldn't be the best solution. Would there be any harm in throwing a PR out to the Papyrus team to see if they'd commit it for you? If they don't, we're no worse off than today and if they do, we benefit (assuming the move to that version of Papyrus is possible).

But yes, please let us know what y

[2021-07-20 18:20] ysroh commented on #269
I figured out that there was an issue with the constraint provider for the multiplicity elements. The validation should work correctly now.

[2021-07-22 13:53] ysroh commented on #270
@J17359 There are some checks done already regarding the safeguard of Dynamic Pathmap usage. See Issue #191 and Issue #242 for details.

Here are available safeguards,

1. Upon opening a new model following checks are done in order to ensure that all required models are available in the workspace.
   - Check all package imports to see if any imported package is missing and warn the user.
![image](

[2021-07-22 18:08] j26151 commented on #269
Verified on our end, thank you. This issue can be closed.

[2021-07-23 15:07] #269 closed

[2021-07-23 15:07] ysroh commented on #269
Thanks

[2021-07-23 15:31] ysroh commented on #94
As I was looking into Model Explorer code I think I found a work-around for this issue. I am working on it so I will let you know if I have a fix. Thanks

[2021-07-24 16:31] j26151 commented on #270
@ysroh I think the feature as you implemented it works really well for Dynamic pathmapping. One thing that we want to address here as well is not dynamic pathmapped ICMs. This is the way we are doing it in RSA. We obviously hope to one day move all of our modelling to using dynamic pathmapping, but until then, we want to make sure that the old way works as well.

If I take two example models, say

[2021-07-26 14:22] ysroh commented on #270
@j26151 You are correct. The referencing models are only correct when the model is open so they do not always reflect the correct model list. They just reflect all model resources that are loaded in the current resource set. You can load any model into your current model so you can make a reference to an element in that model.

What if we check all broken references, not just Pathmap references? w

[2021-07-26 14:28] j26151 commented on #270
@ysroh your suggestion about checking all broken references is good.

However, I am still concerned about the bug the images show. The only way that I would know that the ClientServer model includes PubSubAttachment and CCM_PSAT, is if i not only open the model, but open the model and navigate all the way down the very specific place that those models are referenced.

Additionally, the bug mention

[2021-07-26 15:45] ysroh commented on #270
@j26151

ys] I will fix this so all referenced models are shown when the model is open

ys] This is how Papyrus work if you want to find an element that does not belong to the current model from the selection dialog. In order to make this work, I can load all resources from the model and unload all resources that are not used once the selection is made. I can do this but we need to load and unload

[2021-07-26 15:54] ysroh commented on #94
I implemented a work-around so this should work now.

[2021-07-26 15:54] j26151 commented on #270
I believe before when I did this, I used the browse tab at the top, mainly because I forgot about those options at the bottom.  I think we want to remove the "entire workspace" option, as SNA does not "approve of" using models with references in the workspace unless they are dynamically pathmapped.

So I think we want a hybrid approach with the following two fixes for this problem:

1. Remove the

[2021-07-26 16:45] ysroh commented on #270
ys] I just want to confirm that you still want to allow users to make a reference to another model within the same project as the model you are editing? even if the model is not pathmapped?

[2021-07-26 16:50] j26151 commented on #270
Yes. When models are dynamically pathmapped (in the workspace or project scope), they have to first be imported as an ICM, which makes their types all able to be referenced and there are no issues.

However, if they are not using dynamically pathmapped models, we do not want them to be able to reference models outside of the project. However, in RSA, we currently do allow them to reference all mod

[2021-07-26 19:15] J17359 commented on #94
I verified this issue now works as expected. Thanks @ysroh, this is huge!

[2021-07-26 20:13] #94 closed

[2021-07-28 15:10] ysroh commented on #270
I made some changes to delete the "search entire workspace" option and tried to unload models that are not referenced, but I realized that it is much complicated than I thought. In fact, it is almost impossible to keep the reference list clean except when the model is open.

I will come up with another solution for this.
I am thinking of two approaches right now. One way is to add a menu to pop up

[2021-08-02 15:26] J17359 opened #275 "Add Papyrus functionality to migrate all model entries when using a dynamically path-mapped model"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
Using dynamic path-mapping requires
1. manually setting the dynamic path-mapping string for the model dependency
2. importing the model dependency within the target model
3.

[2021-08-04 01:23] ysroh commented on #270
I've committed my fix to "papyrus_bugfix" branch. I haven't merged this branch to papyrus branch yet because I wanted to make sure that this solution works for your team first.

As I suggested in the comment above, the new "referenced model" section is added to the properties view of the top model element. You need to click on the "Show Referenced Models" button to calculate references and show th

[2021-08-05 10:38] J17359 opened #276 "Attempt to convert .emx to .uml fails with no warning or error when .uml already exists"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
A bug exists where if the export tool would overwrite any .uml file, it will not export anything and not display any message to the user that an error occurred.

To reproduc

[2021-08-05 15:39] ysroh commented on #270
I am also putting a tab for other models that are referencing the current model.

![image](https://user-images.githubusercontent.com/896503/128379079-d3cfc805-b362-41d9-b12e-d902c4583f91.png)

[2021-08-05 20:51] ysroh commented on #270
Merged fix to papyrus branch. Let me know if I can close this issue. Thanks

[2021-08-06 15:16] ysroh commented on #275
@J17359 Here is the use case I am thinking of. Please let me know if you want me to support other use cases.

1. A user will bring all models into the workspace including one that will be pathmapped and all dependent models. This will ensure all references are intact so refactoring can be done without confusion.
2. A user will open the model that will be pathmapped and set the string for the Pathm

[2021-08-11 14:16] j26151 commented on #270
This looks great, thank you. I think we can close this issue now.

[2021-08-11 15:25] j26151 commented on #275
@ysroh  I like this approach, however, the way that we use ICMs doesn't necessarily line up with this use-case, although I definitely see some benefit to this.  Let me try to lay out a 3 project example where every Model (ModelA, ModelB, ModelC) all depend on a single model (ModelDependOnMe). The way we use ICMs now, each project would have their own copy of ModelDependOnMe (that should be the exa

[2021-08-11 15:45] ysroh commented on #275
@j26151 I see. Since I am almost done with the automatic refactoring solution I will implement the hybrid mode where automatic refactoring is done for models already imported into the workspace and also add a menu to refactor references to Pathamp URI at a later time.

[2021-08-11 15:46] j26151 commented on #275
@ysroh Great, the hybrid solution sounds like the best way to solve all of our use cases in the most efficient way.

[2021-08-17 12:59] ysroh commented on #275
Fix committed.

You can change the Pathmap value by clicking on the new edit button.
![image](https://user-images.githubusercontent.com/896503/129729065-9df4e2eb-5a03-41c5-b92c-491ea341c3bb.png)

You can set the Pathamap value in the dialog. Automatic refactoring will be done on all models in the workspace.
![image](https://user-images.githubusercontent.com/896503/129729236-a9b5c01e-8f6f-421e-ac88

[2021-08-17 22:04] j26151 commented on #275
One question before I test this out. The automatic refactoring, is this prompted? In other words, after making a model pathmapped, does it automatically refactor all depending models or does the user get a prompt saying "Would you like to refactor models that depend on this model"? We would prefer if the user is prompted over it automatically happening. Otherwise, I can see situations in the futur

[2021-08-17 23:53] ysroh commented on #275
@j26151 Sure. I will add a confirmation dialog so users can skip the automatic refactoring. It will be ready tomorrow morning.

[2021-08-18 13:38] ysroh commented on #275
@j26151 Fix merged. Let me know if there are any other comments.

[2021-08-18 20:09] ysroh commented on #276
Fix committed to the master branch.

[2021-08-19 14:45] j26151 commented on #276
@ysroh This fixes the easiest scenario, however it still fails with referenced models.

If ClientServer.emx referenced BasicPubSub.emx, then using the Export Tools on ClientServer.emx causes both ClientServer.uml and BasicPubSub.uml to be created. This is good. However, if BasicPubSub.uml already exists, the Export Tools on ClientServer.emx will fail silently, because even though ClientServer.uml

[2021-08-19 15:28] ysroh commented on #276
@j26151 I see. It is a bit more complicated than I thought. I will work on this and let you know.

[2021-08-19 20:42] ysroh commented on #276
Fix merged to master branch. Thanks

[2021-08-23 14:36] j26151 commented on #276
This fixed it for us, thank you. Feel free to close this issue.

[2021-08-23 14:57] ysroh commented on #276
Thanks

[2021-08-23 14:57] #276 closed

[2021-08-23 15:12] j26151 commented on #275
This looks good to me. We can close this issue now. Thank you.

[2021-08-23 15:58] ysroh commented on #271
@J17359 Replacing the current Model Explorer with the virtual folder in Project explorer will require extensive work overriding how resource management work in Papyrus. The model explorer and the properties view are also tied together so I would say this option is not feasible.

The Model Explorer is tied to an open Papyrus editor in order to get contents so it is not possible to add unopened mode

[2021-08-23 16:00] ysroh commented on #275
Thanks

[2021-08-23 16:00] #275 closed

[2021-08-31 11:22] J17359 opened #284 "Add support to CX for extendable types"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
With RemedyIT adding support for DDS extendable types to AXCIOMA, we need a small modification to our modeling tool to support this new option. RemedyIT recommends that an "

[2021-08-31 12:10] J17359 opened #285 "Diagrams in Papyrus allow objects to stack on top of one another"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
Tool currently lets you put objects on top of each other (this was an option in RSA turned off by default). So it becomes easy to accidentally hide things. This applies to p

[2021-08-31 12:11] J17359 opened #286 "Make it more obvious when IDL are generated in the Model Explorer tab"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
When you generate IDL from the Model Explorer tab, the idl files generated are only shown in the Project Explorer tab, it appears to the novice user that nothing has happene

[2021-08-31 12:12] J17359 opened #287 "Add check to determine if model needs migrating"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
In the RSA version of CX, when a model needed migrating, the user would be told this when they opened the model.  Now they only know if they run Validation. Add a check when

[2021-08-31 12:15] J17359 opened #288 "Navigating to a type when both the Project and Model Explorer is confusing"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
If I use either the navigate options in a diagram, or the yellow navigation arrow to go to a type and Project Explorer tab is active instead of Model Explorer, it appears th

[2021-08-31 18:50] ysroh commented on #271
Fix merged to Papyrus branch. Let me know if you have any comments.

[2021-09-02 14:29] J17359 opened #290 "CodeGenUtil validation produces different results for same .emx file"
### NOTE:
**This is occurring in RSA, but any fixes done for this ticket might need to get forwarded to the `papyrus` branch if applicable.**

This problem is also very difficult to describe, so please let me know where I can clarify (we can also jump on a phone call if needed).

### Problem Overview:
* Problem 1
  * Cmd line model validation shows WARNING level messages that do not show up when v

[2021-09-02 16:43] ysroh commented on #290
@J17359 Is it possible to attach the PubSubAttachment example? We don't have that example. Thanks.

[2021-09-02 17:17] J17359 commented on #290
Sure thing. Here is the example:
[PubSubAttachment.zip](https://github.com/ZeligsoftDev/CX4CBDDS/files/7100589/PubSubAttachment.zip)

A caveat though - this PSAT example relies on a PSAT connector model library to be installed or else it'll fail to validate entirely. I'm going to try and get you a reproducer today, but odds are I won't be able to get you one until Tuesday at the earliest (unless @

[2021-09-02 17:26] ysroh commented on #290
I only have PSAT connector model not as a installed library so that would be a problem. If you could send me the jar file or installer for PSAT lib that would save my time. Monday is a Canadian holiday as well and I will be taking some vacations starting later next week. @elder4p and @eposse can work on this if I can't finish before my vacation.

[2021-09-02 21:01] ysroh commented on #290
Can you please send me the CCM_PSAT.uml file for RSA? I only have migrated version to Papyrus. I can create a jar file myself.
Thanks

[2021-09-07 10:32] J17359 commented on #290
Sorry, that's what I'm trying to figure out on my end. I'm not sure I can send that file without approval, but if you said you already have the CCM_PSAT.uml for Papyrus, then this may have just gotten a lot easier. Can you confirm you already have the PSAT model library for Papyrus?

[2021-09-07 12:46] ysroh commented on #290
Yes. I already have the PSAT library for Papyrus.

[2021-09-08 15:02] j26151 commented on #271
Both of these fixes work great. Thank you. This issue can be closed.

[2021-09-08 18:26] ysroh commented on #271
Thanks

[2021-09-08 18:26] #271 closed

[2021-09-15 22:02] eposse commented on #288
Hi @J17359. I'm looking at some of the open tickets while Young-Soo is away, so I'll have a couple of questions.

In this ticket, when you say the "yellow navigation arrow", do you mean the "Link with Editor" button in the Model Explorer as in the following screenshot?

<img width="291" alt="Screen Shot 2021-09-15 at 5 50 20 PM" src="https://user-images.githubusercontent.com/3011155/133514872-6e7e

[2021-09-15 22:07] eposse commented on #286
Hi @J17359. For this issue, would it suffice to put a "dirty" decorator on the model's root element icon? Or perhaps on the components for which IDL was generated?

[2021-09-15 22:12] eposse commented on #285
Hi @J17359. For this one, the tool should avoid overlapping objects both when creating new elements and moving elements around? In this cases what should be the behaviour if the user "releases" an object that overlaps an existing one? Returning it to its original position in the case of a move, or try to accomodate it somewhere that fits? And what about if this happens on creation of an element?

[2021-09-16 11:31] j26151 commented on #288
When navigating a diagram, you can click on elements, like a port or a component. The property view will update with information on that element. In the CX tab, you can select a yellow arrow to navigate to the element in the model explorer:
![image](https://user-images.githubusercontent.com/49879646/133604485-8af3de1a-5385-4c63-b0a8-e6720aa68c8d.png)

If the model explorer is hidden, this action w

[2021-09-16 11:34] j26151 commented on #286
I think 'dirty' decorator is a good idea regardless of this problem. I would like to see that if possible.

I think a solution of possibly outputting the the console "X IDL files generated, Y did not need to be updated" or something long those lines. Similar to how CX outputs to the console when validating and shows warnings/errors. This would allow us to see that something has at least happened.

[2021-09-16 11:36] j26151 commented on #285
I think having the elements snap back to where they were before being dragged could be annoying to users. Possibly, just placing the new diagram element as close to new position as possible without hiding anything, and without anything else moving would be the best solution.

Do you remember how did RSA handled this? I can't at the moment but I could go investigate it if needed.

[2021-09-17 13:16] J17359 commented on #290
### Another data point:

I can reproduce the behavior inside of Eclipse:
1. Import PSAT and BPS projects into workspace
2. Run model validation on **just PSAT**
    1. Model validation shows `0 error(s), 1 warning(s)` (the warning being the same `two or more indistinguishable members named <Package> ports` warning from the cmd line behavior in comments above)
    2. Doesn't matter if validation is

[2021-09-17 13:31] J17359 commented on #290
### One more data point:
In Eclipse:
1. Import PSAT and BPS projects into workspace
2. Run model validation on **just BPS**
    1. Model validation shows 0 error(s), 0 warning(s)
3. All model validations in this workspace for the **PSAT model** now pass regardless of combinations (assuming you don't close Eclipse)

So it seems like RSA just needs to run one time or something before validating a mo

[2021-09-17 20:55] ysroh commented on #290
Thanks for the detailed info. I suspect that our plugin to disable that validation is never called with PSAT model. I need to figure out that first. I also suspect that the PSAT model is somehow corrupted because there are no two “ports” folder. I will investigate and let you know next week.

[2021-09-23 00:57] ysroh commented on #286
Can you log instead of "assert currentDisplay != null;"? Otherwise looks good.

[2021-09-23 01:44] ysroh commented on #290
After further investigation, I found no way to disable the problematic validation before its first run or persist the settings to disable it when using the command-line version of the Eclipse.

So I have no choice to implement a work-around for CodeGenUtil.validation function.
The workaround is to run a fake validation to disable the validation before the real validation run.
We only need to run t

[2021-09-23 16:39] ysroh commented on #290
I would also suggest using more uncommon folder names in a model library since they fall into the same namespace as other folders in the user model that imports it. For example, that's why the validation complains about two "ports" folders from the PubSubAttachment model.

[2021-09-23 18:49] eposse commented on #286
Hi @j26151. Can you test the build from the "papyrus-issue286" branch? (pull request GH-291)

It will output to the console and the log, for all transformations (generation of IDL, descriptors and UML).

Let me know if this is sufficient to merge it.

Thanks

[2021-09-23 19:09] ysroh commented on #286
@eposse I think this is a simple fix so you can merge it to the main branch.

[2021-09-24 13:39] j26151 opened #294 "Disallow Dynamic Pathmapping on linked workspace models"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**
In papyrus, after we are done modeling and generating artifacts, we run CMake to create build projects that we then compile. When we run CMake we create a new project tha

[2021-09-24 16:38] ysroh opened #295 "DDK Zdlgen metamodel change not working"
# **Issue and tracking information**
Zdlgen metamodel is not migrated correctly and needs some work to make it work properly in Papyrus.
We need to fix this to add new attributes for the menu model and properties tooling model.

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue

[2021-09-24 16:56] J17359 opened #296 "Papyrus update site has moved causing error when building CX"
https://github.com/ZeligsoftDev/CX4CBDDS/blob/078b5c8ffc11c0ed0fcc3d552300224a62d50e53/releng/com.zeligsoft.dds4ccm.configuration/pom.xml#L17 should be `<papyrus.url>http://archive.eclipse.org/modeling/mdt/papyrus/updates/releases/2019-06/`

[2021-09-24 17:01] eposse commented on #296
A bit strange. I still see the update site at download.eclipse.org, but with https. Perhaps that's the problem? In any case, the archive URL will likely stick around for longer.

[2021-09-24 17:01] J17359 commented on #296
Well, maybe I was wrong...turns out that link still does exist but the site.xml has been returning a 502 Bad Gateway error all morning.

[2021-09-24 17:02] J17359 commented on #296
I'll try https and see if that fixes things (and leave it as `download` instead of `archive`).

[2021-09-24 17:04] eposse commented on #296
Sorry, I pushed the commit before reading your message. I've set it to https://archive.eclipse.org. I can change it to https://download.eclipse.org if you prefer.

[2021-09-24 17:10] J17359 commented on #296
I think all the `http`'s need to get changed to `https` in that properties section. My build looks to be getting further with that modification. I also don't have a preference on `archive` vs `download` but imagine `archive` would persist longer as you stated.

[code]

[2021-09-24 17:42] eposse commented on #296
Ok, I've pushed another commit. It looks like the only ones with 'archive' are Papyrus and CDT. The rest are available only on 'download'.

[2021-09-24 17:48] eposse commented on #296
I opened pull request GH-297. Once the build finishes I'll merge it.

[2021-09-24 19:35] eposse commented on #296
@J17359 So it looks like we've ran out of credits in our Travis account so Travis cancels the build jobs. I am able to build it locally though. So if you are Ok with it, I'll merge the change even though we don't have a "pass" from Travis.

Hopefully we can sort out the Travis credits soon.

[2021-09-24 19:40] jwillemsen commented on #296
Would recommend to use github actions, faster, more parallel builds and free. We use it for AXCIOMA and TAOX11 also.

[2021-09-24 19:52] eposse opened #298 "Investigate migrating the build system from Travis to GitHub actions"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**

The ZeligsoftDev account has run out of credits on Travis CI. @jwillemsen has suggested migrating the build to use GitHub actions instead. It might be a good idea to exp

[2021-09-25 08:47] jwillemsen commented on #298
travis is used less and less and had a huge security issue some months ago. github actions are currently more powerful and faster but you do have to convert your CI scripts but very likely you can find similar things on github where you can learn from, for example https://github.com/RemedyIT/axcioma/blob/master/.github/workflows/linux.yml

[2021-09-25 13:18] ysroh commented on #294
@j26151 The dynamic pathmap from the linked resource will be ignored if there is the same pathmap already.
You can still use the linked model as a pathmap if there is no existing pathmap.
Please let me know if you find any issues with this fix.

[2021-09-27 09:48] J17359 commented on #296
@eposse - Our internal builds are working with the http -> https change. I'm cool with merging this change without Travis if you all are.

[2021-09-27 12:28] j26151 commented on #294
@ysroh I have verified that this fixes our issue. Thank you for the fast turnaround!

[2021-09-27 16:59] eposse commented on #296
@J17359 It's merged. Let me know if I can close it now.

[2021-09-27 17:02] eposse commented on #286
@J17359 @j26151 I've merged this. It reports the results of generation (IDL, Descriptors and UML) to both the console and the log. Let me know if it is enough for you to close it.

[2021-09-27 17:04] J17359 commented on #296
Close away!

[2021-09-27 17:06] #296 closed

[2021-09-27 17:31] ysroh commented on #294
Thanks for verifying.

[2021-09-27 17:31] #294 closed

[2021-09-27 18:51] J17359 commented on #290
@ysroh - thanks for your hard work over the past few weeks with this ticket! I have successfully validated that both the latest cx-axcioma (papyrus branch) and cx-atcd (master branch) are validating our SNA examples correctly and deterministically (as far as my testing has shown). I think we can close this issue and I will write another if I run into anything else. Thanks again!

[2021-09-27 18:55] ysroh commented on #290
Thanks. I will close this one.

[2021-09-27 18:55] #290 closed

[2021-09-29 18:03] eposse commented on #287
@J17359 I've merged this fix. The user gets a message on the console and the log if the model needs migration when the model is opened.

Let me know if we can close this.

[2021-09-30 21:16] eposse commented on #288
@J17359 @j26151 I've merged the fix for this one too. Let me know if it works for you now, and if I can close it. Thanks.

[2021-10-01 10:29] j26151 commented on #286
@eposse What would you expect the output to look like? When I run this, I see that the console states that generation was successful for IDL on a given model, but it doesn't enumerate which files were created/updated and which were left alone

[2021-10-01 10:32] j26151 commented on #287
I see the message on the CX console, which I think is a good start. But we would prefer this to be some sort of pop up event. Otherwise, it is extremely easy to miss on the console.

[2021-10-01 10:47] j26151 commented on #288
This works great, thank you. This can be closed.

[2021-10-05 00:21] ysroh commented on #284
Should we prepend @final and @union or @appendable??
Can you please check if the example below is correct?

/// @brief CXModule7
module CXModule7 {

    /// @struct CXStruct1
    @appendable (or should it be @union as metioned in the description?)
    struct CXStruct1 {
    }; //@top-level false
};

#endif // CX_CXMODULE7_PACKAGE6_IDL

[2021-10-05 06:42] jwillemsen commented on #284
It should be `@final` or `@appendable`, see https://github.com/RemedyIT/ciaox11/pull/268

[2021-10-05 13:16] ysroh commented on #284
Got it, thanks.

[2021-10-07 14:11] eposse commented on #287
@J17359 @j26151 Sorry for the radio silence. I have been very busy for the last week.

I have updated the code with a pop-up that will alert the user and ask if they want to migrate now or not. However it is not fully working quite yet. The actual migration action doesn't seem to be doing anything on the test model. (I'm using the AMI4CCMExample from the repo). I'm currently debugging it to see wh

[2021-10-07 14:18] eposse commented on #285
@J17359 @j26151 This one has been a bit on the back-burner, but we have given it a little bit of thought. I do not remember how this is handled in RSA, so if you could could try it and let me know what's the behaviour it would be great.

It's important to note that we think this problem is definitely not trivial, as it is ultimately the general diagram layout problem. There are many issues that co

[2021-10-07 14:32] ysroh opened #303 "IDLImport for extensibility attribute"
# **Issue and tracking information**

Update IDL import to support extensible objects.
It would take too long to commit Issue #284 with IDL import support, so I am creating a separate ticket for import only.

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**

[2021-10-07 15:23] ysroh commented on #284
Fix merged to Papyrus branch. Tooling and IDL generation related to extensibility is supported except IDLImport. Issue #303.

[2021-10-07 17:12] elder4p commented on #295
This issue is been handled in the DomainDevKit project as https://github.com/ZeligsoftDev/DomainDevKit/issues/4.

[2021-10-08 13:35] ysroh commented on #284
Thanks

[2021-10-08 13:35] #284 closed

[2021-10-13 11:03] j26151 opened #308 "EXT: Copying CX elements across models loses stereotype information"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**
When copying CX elements within the same model or across models, it appears that some information is lost, specifically, stereotype information, and sometimes this is not

[2021-10-13 11:04] emammoser opened #309 "EXT: Immediate invalidation for parameters"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**
When creating a parameter for an operation, there appears to be some sort of live validation that occurs causing the parameter to be immediately marked as an error for no

[2021-10-13 11:06] j26151 opened #310 "EXT: Assembly diagram shows <<Component>> stereotype"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**
Assembly diagram shows <<Component>> stereotype in the title which is misleading to the average developer. We would prefer for assembly diagrams to show <<Assembly>>

[2021-10-13 11:13] emammoser opened #311 "EXT: Change default preference from workspace to project"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**
We would like this default preference to be changed from workspace to project to avoid introducing cross-project model links. We do not want anything to resolve across pr

[2021-10-13 19:24] ysroh commented on #309
This is another difference between Papyrus and RSA. Papyrus runs automatic batch validation on a subtree that is modified. I will need to see if I can turn this automated validation off.

[2021-10-14 10:52] j26151 commented on #303
When importing the file above, I now get passed the error. The elements look mostly correct except for one small issue:

![image](https://user-images.githubusercontent.com/49879646/137303981-ef66ea2f-3ba7-4768-8087-b8c13b33f4c5.png)

It looks like Unions aren't being placed in the defn package the way the rest of the IDL elements are.

[2021-10-14 13:34] ysroh commented on #303
The behaviour is exactly the same in RSA. So I think there was a reason why this was done intentionally.
Do you want me to look into this and try to fix it or at least find out why Unions are intentionally left out?

[2021-10-14 22:55] eposse commented on #286
@j26151 I am able to generate a report of files that have been added, changed, removed and remained unchanged, but there is an problem: when using "Generate All" to run all generators (Descriptors, IDL, UML) we are unable to distinguish which generator produced or changed each file. We can report them in order (sorted by path for example) to make it easier to read, but to clearly identify which ge

[2021-10-15 10:23] j26151 commented on #286
@eposse Doesnt' Generate IDL, usually only generate IDL files (and taginfo.xml), Generate Descriptors generates .CDD and .CDP files, and Generate UML generates uml files?  We would be able to know who generated what based on that, right?

Even if the above isn't strictly true, we never use the "Generate All", because we (almost) never want to run Generate UML?

Also, it would be nice if we could t

[2021-10-15 14:21] eposse commented on #286
And we should report to the Console and the Log, right? Or should we report somewhere else as well (a file, a pop up)?

[2021-10-18 13:01] #303 closed, assigned to ysroh

[2021-10-18 14:49] ysroh opened #319 "Component wizard does not work"
# **Issue and tracking information**
CCMComponent wizard fails to create the component package with the following error.

java.lang.NullPointerException
	at org.eclipse.gmf.runtime.emf.type.core.requests.CreateElementRequest.getEditContextCommand(CreateElementRequest.java:313)
	at org.eclipse.gmf.runtime.emf.type.core.requests.CreateElementRequest.getEditHelperContext(CreateElementRequest.java:440

[2021-10-18 16:09] #319 closed

[2021-10-20 19:06] #309 closed, assigned to ysroh

[2021-10-20 22:36] eposse commented on #286
I've fixed issues 1, 2 and 3 (although I haven't committed anything yet) and I have been able to reproduce item 4, although I am a bit confused about the folder structure of the generated folders. Nevertheless, I think it happens when you add a module as you say, but the new module doesn't need to have anything inside it. I'll need to dig into that code generator to understand why it is touching t

[2021-10-21 12:23] j26151 commented on #286
In the attached image below, you will see that I added a module to the model which is then created in our SNA_Examples_defn.idl file. This behavior is what we would expect and we do not have any issues with how the model is generating IDL other than the fact that it constantly dirties that IDL each time.
![image](https://user-images.githubusercontent.com/49879646/138276455-0f8cf564-1ada-49e3-828e-

[2021-10-21 16:20] j26151 commented on #286
What do you mean? In my image, is the model that generated the IDL on the right. The entire process is working as we would expect.  NewModule exists within the defn package as well as within the SNA_Examples module. and the IDL conveys that.

[2021-10-21 16:28] j26151 commented on #286
If I take the model in my picture above, and I never change it again. I never modify the model itself again. I use as it exists in that picture. For all intents and purposes it is read only.

Then I run generate IDL on that model, the report will tell me that SNA_Examples_defn.idl has changed. And If I run generate IDL again, it again tell me that SNA_Examples_defn.idl has changed again. The model

[2021-10-21 16:33] eposse commented on #286
Ah! So successive calls to the generator on an unchanged model result in regenerating and dirtying the file even when nothing has changed. I think that was not clear to me from your original statement.

And just to confirm: you see this behaviour only when having nested modules with typedefs in the same package? If it doesn't have nested modules you don't get the file dirty?

[2021-10-21 20:48] elder4p commented on #298
Removed .travis.yml from master & papyrus. Removed Travis web hook from CX4CBDDS project.

[2021-10-25 12:53] #311 closed, assigned to ysroh

[2021-10-28 13:05] j26151 opened #328 "Pathmapped models that are modified cause dependent models in the same folder/project to return to path resolution"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**
Project "MyProject", has two models "Model_A", and "Model_B". Model_A has a dynamic pathmap for its model and Model_B is referencing Model_A through that pathmap (i.e. in

[2021-11-01 15:33] ysroh commented on #328
Can you please upload the reproducer model again? It says it is still uploading.
I tried to reproduce it using the steps provided with BPS and ClientServer model but I wasn't able to reproduce the problem.

[2021-11-01 15:50] j26151 commented on #328
[dpm_issue.zip](https://github.com/ZeligsoftDev/CX4CBDDS/files/7454452/dpm_issue.zip)
Hopefully it uploads better this time.

[2021-11-01 16:12] ysroh commented on #328
Got it, thanks.

[2021-11-04 14:31] j26151 commented on #328
I have tested this on our end and it appears that the notation file is updated. Additionally, new changes to the dependency model doesn't force updates to the dependent model.

[2021-11-04 19:18] ysroh commented on #328
Great!, thanks. I will close this issue. We are still working on the copy/paste issue, and we will let you know the status soon.

[2021-11-04 19:18] #328 closed

[2021-11-04 21:04] elder4p commented on #308
A note on pull request #329. The request patches Papyrus 4.4.0 to include a copy-paste fix that first appeared in 4.6.0. Because of some issues with the Tycho build environment, this patch is not entirely transparent. The build now generates:

- a separate update site `papyrus_v440_patch_2.1.0.*.zip`
- an updated axcioma RPM that installs this update site (in addition to the main one)
- users dire

[2021-11-05 10:41] J17359 commented on #308
Very cool - thanks for the update @elder4p!

[2021-11-05 10:49] J17359 commented on #308
PS. I left a comment on the spec file. We should uninstall that patch when CX is totally removed from the system via a `yum remove...`. Have you tested upgrading a CX RPM that has already installed that patch with another CX RPM containing that patch? I wonder how yum will handle that. We might need to check in the patch is installed in the `%pre` scriptlet of that spec file and uninstall it if so

[2021-11-05 11:38] J17359 commented on #308
PSS. Our latest papyrus branch builds are now failing. See attached log output from our mvn build command.
[mavenBuildError.txt](https://github.com/ZeligsoftDev/CX4CBDDS/files/7485692/mavenBuildError.txt)

[2021-11-05 12:09] J17359 commented on #308
Sorry for all the comments in a row (the original "PS..." comment still stands about the spec file). But I think I figured out the build error. We were building with Java 8. Tycho was built with Java 11 which cannot be used on 8. We have Java 11 installed, but for some reason the symlinks in /usr/lib/jvm weren't updated to point to the latest installed Java. As soon as I exported the JAVA_HOME env

[2021-11-05 13:10] elder4p commented on #308
@J17359 : I was just thinking that moving to Tycho 2.5 might break your builds. The somewhat confusing 'P2ArtifactRepositoryLayout has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0' message in fact means 'use Java 11, not Java 8'.

Using Java 11 should have no impact out what JVM

[2021-11-05 13:13] J17359 commented on #308
Yeah I should have Googled before asking the question. Sorry about that!

Good to know. So we **don't** need to set a `Requires: java-11-openjdk` line in the spec file correct?

Yeah I generally try and make the user's system just like it was prior to installing the RPM if at all possible. Even if things _shouldn't_ matter if they stick around.

[2021-11-05 13:20] elder4p commented on #308
@J17359 : Correct. No need to change the required JVM.

[2021-11-05 13:37] J17359 commented on #308
FYI: I just tested an upgrade scenario after generating two RPMs and the upgrade failed since the patch feature group was already installed. Looks like we need to remove it first.

[2021-11-05 13:38] ysroh opened #335 "Copy/Paste diagram does not work"
# **Issue and tracking information**
Copying a composite structure diagram does not work. More investigation is needed but this looks like a Papyrus issue.

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**

[2021-11-05 13:39] elder4p commented on #308
Testing a fix right now. I'll get you to review it once I'm done. Thanks.

[2021-11-05 13:43] ysroh commented on #308
There were a few problems related copy/paste issue, but they are all resolved except one that I reported separately. See Issue #335. Otherwise cross model copy/paste should work. Please let me know if the Diagram copy is gating or not. It looks like we need at least a week to produce a fix for the diagram copy issue.

[2021-11-05 13:51] ysroh commented on #308
Since we have a way to patch Papyrus, we do not need to move to a newer version at this time. We will fix Issue #118 after the release so we can move to a newer version when it is time to do so.

[2021-11-05 14:27] elder4p commented on #308
So, it looks like we have run into a 'feature' of p2 when uninstalling feature patches, as discussed in P2 [bug 450271](https://bugs.eclipse.org/bugs/show_bug.cgi?id=450271). The bottom line:

- installing a feature patch causes the original version of the patched plug-in to be locally removed.
- running the p2 director uninstallIU command on a feature patch tries to find that original plug-in, bu

[2021-11-05 14:38] J17359 commented on #308
Yes, we need to handle the use-case where a deployment may not have internet access. We also need to keep in mind that the `%pre`, `%post`, etc. spec file scriptlets run before or after the RPM lays down the actual files. See https://docs.fedoraproject.org/en-US/packaging-guidelines/Scriptlets/#ordering for great documentation on this.

As such, during my tests, I test the following (at each step

[2021-11-05 14:51] J17359 commented on #308
Forgive me for not completing my thought here. My point in stating this was to warn that we need to be careful when we run uninstall/install commands so we don't accidentally uninstall the just installed CX. Notice we don't actually install the **new** RPM's update site in `%post` until after the **old** RPM was uninstalled from Papyrus in `%pre`.

[2021-11-05 14:58] ysroh commented on #308
In my opinion, the patch should be considered as part of the Papyrus install. We should install this patch feature once and forget about it rather than uninstall it every time the CX feature is uninstalled.
How about asking users to install this patch during Papyrus installation? or distributing Papyrus that this patch is already installed?

[2021-11-05 14:59] J17359 commented on #308
I vote for distributing Papyrus with this already patched. That would be MUCH easier. We distribute Papyrus already (since it's not provided as an RPM) so we could easily add this to our Papyrus spec file. Great suggestion Young-Soo!

[2021-11-05 15:21] elder4p commented on #308
All. I will remove the patch installation from the RPM, and leave it to @J17359 to integrate its inclusion in the base Papyrus installation. I'll also update our public readme to clearly show the process: 1) install papyrus, 2) install patch, 3) install CX. I should have a pull request available shortly.

[2021-11-05 15:32] J17359 commented on #308
I'll test this first thing Monday morning. I have to head out of the office early today (noon EST). Thanks everyone for working through this!

[2021-11-05 15:51] ysroh commented on #287
Fixed. Removed option to migrate directly from the dialog.

[2021-11-05 17:32] elder4p commented on #308
@J17359 : Here's a link to the [build associated with the pull request](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/1426473079). I think the artifacts auto-delete after 3 days, but you should be good on Monday morning.

[2021-11-08 12:39] J17359 commented on #308
Thanks @elder4p. I'll work on getting this integrated into our Papyrus build this morning. Do you think I should copy/paste your latest papyrus_patch .zip file and simply use that or do you expect that patch to change in the future which means I should build that patch .zip from scratch every time I generate the Papyrus RPM?

[2021-11-08 13:01] elder4p commented on #308
@J17359 : I expect the patch will be very stable, so you're safe copying it.

[2021-11-08 14:07] ysroh commented on #308
This patch is temporary so that we don't need to move to a newer version of Papyrus. We do not need this patch once we move to a newer version.

[2021-11-08 14:11] J17359 commented on #308
Right. I am testing an internal build of a Papyrus RPM with this patch now. I'm using the zip from the CICD build after your merge: https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/1434855214

[2021-11-08 17:04] J17359 commented on #308
@ysroh @elder4p @eposse
@j26151 has tested this fix after I generated new CX and Papyrus (w/patch) RPMs. This, along with #287 have been tested and verified that the fix matches our expectations. The only remaining GitHub issue that we'd like before the formal release is #286 which has been worked on for quite some time now. Could we please get a status on that? We **want** that fix but don't **ne

[2021-11-08 17:21] j26151 opened #338 "PSDD Model Library fails to validate"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**

Our example using the PSDD model library does not validate.
![image](https://user-images.githubusercontent.com/49879646/140787925-636388b1-eb4b-4197-a83f-e54e88e5cb0d.pn

[2021-11-08 17:44] ysroh commented on #338
Is this gating for the release? Let me know so I can work on it. Thanks.

[2021-11-08 17:44] eposse commented on #286
@J17359 @j26151 A status update: this is almost done, but while cleaning up the code I ran into an issue about how we collect and report files. I mentioned before that because of the way the generator is built, when you do a "Generate All", it's not trivial to separate the changes from each individual generator. I'm trying one last attempt at dealing with this, but if it doesn't work, we'll have t

[2021-11-08 17:47] J17359 commented on #338
Shooting an email now to you all to summarize our vision for what issues make it into the release. I figured that would be easier than commenting on the individual tickets.

[2021-11-08 17:48] ysroh commented on #338
Sounds good, Thanks!

[2021-11-08 17:49] J17359 commented on #286
Thanks for the update @eposse . I'm sending an email to you all now summarizing what we think needs to be done prior to release.

[2021-11-08 19:02] j26151 commented on #287
I have verified that this is fixed on our end.

[2021-11-08 19:27] ysroh commented on #338
Here is the updated PSDD library. Can you please take a look to see if it is o
[PSDD.zip](https://github.com/ZeligsoftDev/CX4CBDDS/files/7499574/PSDD.zip)
k?

[2021-11-08 21:33] #287 closed

[2021-11-08 21:35] ysroh commented on #308
Closing this issue as it is verified.

[2021-11-08 21:35] #308 closed

[2021-11-09 11:50] j26151 commented on #338
I imported your models into my workspace and overrode the installed pathmap for PSDD with the contents of your zip file. After that, I repaired module instantiations for our PSDD example and everything validated and generated correctly. I was also able to build using the generated idl and taginfo.xml files. I believe the updated PSDD library here fixes the issue we were seeing, although I will wan

[2021-11-09 12:56] ysroh commented on #338
It is now merged to the papyrus branch. Let me know if you find any issues with the library. Thanks.

[2021-11-09 14:41] j26151 commented on #338
I verified the model library with the CX installed into Papyrus. Thank you.

[2021-11-09 15:27] #338 closed

[2021-11-09 18:29] eposse commented on #286
@J17359 @j26151 I've just merged the fix. Would you like to test it before we tag it and build the release?

[2021-11-09 19:11] j26151 commented on #286
Every struct and DDS message now ends with the annotation "@top-level false" which breaks our build system and appears to be wrong for IDL provided to our AXCIOMA middleware. This is a bug that we would need fixed. Additionally, it looks like @elder4p added comments to the merged PR?

[2021-11-09 19:14] eposse commented on #286
Hmm... That is strange. I don't know what this "@top-level false" tag comes from. I'm investigating.

I've addressed @elder4p comments with a new pull request #341.

[2021-11-09 19:20] eposse commented on #286
In the generated idl I see
[code]

but I do not see `@top-level false`.

Do you see this in BasicPubSub?

If not, which model?

[2021-11-09 19:21] j26151 commented on #286
![image](https://user-images.githubusercontent.com/49879646/140990502-563ed9e5-bcc1-4b68-9608-8e0c658b3cce.png)

At the end

[2021-11-09 19:21] eposse commented on #286
Oh! I missed the comment. Thanks. I'm on it.

[2021-11-09 22:34] eposse commented on #286
I've addressed the issue with the annotation and now it works again as it used to. However, in order to do that, we decided to revert some previous fix to the IDL generator which seems to be the cause of the wrong annotation. Unfortunately that fix we reverted was the one that fixed the issue of files being reported as "changed" when invoking the generator successively even though nothing changes

[2021-11-09 23:02] eposse opened #342 "Investigate IDL generator reporting files as changed when the model has not changed"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**

In Issue #286 we discovered that sometimes the generator will report some files as changed after invoking the IDL generator successively on a model even though the model

[2021-11-10 12:04] j26151 commented on #286
I have verified the top-level annotation issue has been fixed and that the other bug is back. Since you have spawned another ticket for that bug, feel free to close this.

[2021-11-10 14:34] #286 closed

[2021-11-10 14:35] elder4p opened #345 "Update 'master' and 'papyrus' branch versions following release"
# **Issue and tracking information**

### Developer's time Estimated effort to fix (hours): 2

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed description of the issue in the space below**

Update 'papyrus' branch to build 2.2.0. Update 'master' to build 1.6.2.

[2021-11-10 14:51] elder4p commented on #345
Resolved by #343 and #344.

[2021-11-10 14:51] #345 closed

[2021-11-15 13:27] J17359 opened #346 "Papyrus assembly diagram doesn't update when interface port is added from the model explorer and not the palette"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
If you go into the BPS assembly diagram and add an interface port to the diagram  from the model explorer (right click on the assembly in the model explorer -> add CX -> Int

[2021-11-15 13:28] J17359 opened #347 "PSDD Example cannot have IDL generated by CX Extensions plugin"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
The PSDD example can be validated and generate IDL manually, however, the automatic tooling to do batch validations and generations fail on the model with the following mess

[2021-11-16 16:10] ysroh commented on #347
Can you please provide some details on how to reproduce this problem? Are you referring to the CodgenUtil.validate() call?

[2021-11-16 16:30] j26151 commented on #347
In our java code, we access:

   // Reference to the Zeligsoft CX utilities object
   private static final CodeGenUtil CX = CodeGenUtil.INSTANCE;

Then we use that CX object to validate a model:

     IStatus returnedStatus = CX.validateModel(GenerateUtils.convertToURI(model));

The returned status above has the error message that we posted above.

[2021-11-17 15:47] ysroh commented on #347
I am trying to reproduce this problem and I just need to verify one more thing. Is your automatic tooling invoked from a headless environment? I cannot reproduce this when I validate the BasicPubSub_PSDD example so I was wondering if this is related to the headless operation. If not, is it possible that I can take a look at your model?

[2021-11-17 15:48] ysroh commented on #347
I called validation using CodegenUtil.validate and the returned status was Status.OK.

[2021-11-17 19:17] j26151 commented on #347
Sorry, I was confused myself writing this ticket. It appears its only an issue when generating IDL using the CodegenUtil API
I have uploaded the most current version of our PSDDPubSub project.

[PSDDPubSub.zip](https://github.com/ZeligsoftDev/CX4CBDDS/files/7557389/PSDDPubSub.zip)
.

[2021-11-17 21:24] ysroh commented on #347
I see. Thanks for the clarification. I will try to reproduce it.

[2021-11-18 15:57] ysroh commented on #347
I reproduced the problem and working on a fix.

[2021-11-18 21:22] ysroh commented on #347
The model must be corrupted at some point while we were fixing the PSDD library. The problem was fixed once I repaired module instantiation. The PSDD_Listen had an interface realization with duplicate values for the client property. We were not able to catch this validation since Papyrus loaded this model ignoring the extra value. The problem only occurs when loading this resource using the vanill

[2021-11-19 11:33] j26151 commented on #347
We didn't do anything specific to make that model corrupted. If it is corrupted, shouldn't it be caught by something in papyrus? Either papyrus should recognize it as corrupted or it should fail to validate. If neither of those things occur and it generates IDL/Descriptors through manual  means, there is a low chance of us catching any issues.

[2021-11-19 14:32] ysroh commented on #346
This should be fixed now. Please confirm if I can close this. Thanks

[2021-11-19 15:13] j26151 commented on #346
I have verified this is fixed. Thank you.

[2021-11-19 15:30] ysroh commented on #347
I understand your concern. Although this problem shouldn’t really happen using the stable version I can see that when it happens users may not know what the problem is. The best way to fix this problem is by preventing it but that’s not possible since we cannot reproduce it. I initially thought that this might have happened because of copy/paste but wasn't successful in reproducing it.  I can try

[2021-11-19 16:03] j26151 commented on #347
Thank you for looking into this further. I think at a minimum we just want a way to inform users that the model is in fact corrupted. I do not think we want it to be fixed automatically without prompting the users because we want users to be in control of things changing in their workspaces.

[2021-11-19 17:24] elder4p commented on #347
@j26151 : I've just talked through this with @ysroh, and this is what we see happening:
* the model in question has a logical corruption. In a field that logically contains a set of distinct interfaces, we are seeing the same interface appearing twice.
* When Papyrus loads the model, it auto-corrects this, but does not dirty the model. However, any subsequent change to the model results in a logic

[2021-11-22 15:15] j26151 commented on #347
@elder4p @ysroh Thank you for the information above. I don't think that copying and pasting was what caused this issue as we never really tested copy/paste with the PSDDPubSub model, but who knows.
In any case, I decided to investigate exactly what corrupted the model using your tips above. In our most current version of the PSDDPubSub model I was able to find the line where there was a situation

[2021-11-22 15:41] elder4p commented on #347
@j26151 : Impressive detective work! We will have a look at that repair code.

[2021-11-23 19:17] ysroh opened #349 "DDK ZdlGen editor does not work with ZMLMM and CCM domain"
# **Issue and tracking information**

While I was working on a bug fix I discovered the following issues with DDK.

1. Unable to reload ZMLMM.zdlgen. Open ZMLMM.zdlgen and perform reload on ZMLMM.uml. This throws an exception.
    This prevents us from updating the metamodel in ZMLMM.
![image](https://user-images.githubusercontent.com/896503/143085417-0e870607-c18a-43f6-aa91-f963b679f701.png)

2.

[2021-11-29 17:42] ysroh commented on #347
Fixed repair module instantiation action to prevent model corruption.

[2021-11-30 14:16] #346 closed

[2021-12-01 21:00] ysroh commented on #349
Fixed this issue by reverting the ZDLGen ecore model and manually adding the required field to generate source code.

[2021-12-01 21:00] #349 closed

[2021-12-01 21:01] ysroh commented on #347
This fix is merged to the papyrus branch and can be closed once verified.

[2021-12-02 17:36] j26151 commented on #347
I have verified this fix on our end. Thank you.

[2021-12-02 18:01] ysroh commented on #347
Thanks

[2021-12-02 18:01] #347 closed

[2021-12-03 16:35] ysroh commented on #342
Fixed and merged to "papyrus" branch.

[2021-12-04 01:24] ysroh commented on #310
Fix merged to the papyrus branch

[2021-12-09 16:35] j26151 commented on #310
I have verified this fix. Thank you.

[2021-12-09 16:39] ysroh commented on #310
Thanks

[2021-12-09 16:39] #310 closed

[2021-12-13 22:39] ysroh commented on #342
Please verify that this issue can be closed. Thanks

[2021-12-13 22:40] ysroh commented on #118
This issue is fixed and tested using Papyrus 4.8. We should be able to move to a newer version if required.

[2021-12-15 19:36] J17359 opened #355 "Make it so that it is not possible to deploy a container process outside of a domain"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
It should not be possible to deploy a container process outside of a domain (makes no sense) in the deployment plan editor. If you do this accidentally (drag & drop onto ope

[2021-12-15 19:38] J17359 opened #356 "Validate "Is Asynchronous" is checked/unchecked on all components/assembly ports"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
If a client-side (conjugated) basic InterfacePort on a monolithic component nested inside of one or more parent assembly components has its "Is Asynchronous:" box checked, A

[2021-12-15 19:45] J17359 opened #357 "Work with CX to upgrade to latest Papyrus"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
It's always beneficial to target the newest formal versions of software. I imagine [Papyrus 5.2.0](https://www.eclipse.org/papyrus/download.html) has some good bug fixes and

[2021-12-21 12:29] j26151 commented on #342
I have verified this fix, thank you.

[2021-12-21 15:29] ysroh commented on #342
Thanks

[2021-12-21 15:29] #342 closed

[2022-01-10 16:35] ysroh commented on #357
I made updates so our codebase would work for the latest Papyrus 6.0 version however I am blocked due to Papyrus compare dependency issue. The latest version that the Papyrus compare installs is the 4.8 version so we might have to fork the Papyrus compare and update dependencies ourselves in order to update to the Papyrus version 5.x or 6.x. I will keep you updated on this issue.

[2022-01-10 18:25] J17359 opened #358 "Adding dynamic pathmap causes headless model validation and IDL generation through CodeGenUtils plugin to fail"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**
As described in https://github.com/ZeligsoftDev/CX4CBDDS/issues/227, we wrap the Zeligsoft CodeGenUtils plugin you've written with a command line tool to invoke the model va

[2022-01-13 01:33] ysroh commented on #358
I found out that the dynamic pathmap is not loaded automatically during the headless invocation so I manually registered pathamps in the SNA util code. I tested that the headless validation works fine now. Can you please verify this on your side?

[2022-01-13 01:35] ysroh commented on #358
[com.ngc.sna.cx.utilities.zip](https://github.com/ZeligsoftDev/CX4CBDDS/files/7859118/com.ngc.sna.cx.utilities.zip)

[2022-01-13 01:55] ysroh commented on #357
Ernesto sent an email to a developer working on the Papyrus compare and found out that they are currently working on a release, but they don't know when it will be ready. I don't expect the release will be ready soon. So we have two options.
1. Upgrade CX to the Papyrus 4.8 for now and upgrade it to version 6.x when the Papyrus compare is available.
2. We fork the Papyrus compare and try to make i

[2022-01-14 12:10] J17359 commented on #358
Just tested this with BasicPubSub and ClientServer models as described above and both validate successfully.

I'm still getting errors when using more complex models that aren't allowed for export so let me try and get a reproducer I can send you. Stand by.

[2022-01-14 15:13] J17359 commented on #357
@ysroh - I spoke with @j26151 and he and I agree that sticking with 4.8 for now and upgrading with Papyrus compare is available is what we're comfortable with right now. I'm not sure the up front investment in support hours is worth moving to 6.x if you need to also figure out how to maintain and get Papyrus compare working since no one on our side will be using 6.x until we formally released - wh

[2022-01-14 15:23] J17359 commented on #358
@ysroh - Actually, I think I may have had a bad environment when testing this during my previous comment. Just reporting back here that I think everything is working now but I'm going to run a few more tests before I say to close this ticket. Thanks for your patience!

[2022-01-14 17:37] J17359 commented on #358
@ysroh This ticket can be closed. Thanks again for the quick turnaround! I've verified our projects are validating as expected with these changes.

[2022-01-14 19:35] ysroh commented on #358
That's good news! Thanks. I will close this ticket.

[2022-01-14 19:35] #358 closed

[2022-01-14 19:53] ysroh commented on #357
Sounds good. I will update Papyrus to version 4.8. Thanks.

[2022-01-17 22:42] ysroh commented on #357
@J17359 @j26151

I am upgrading CX to Papyrus 4.8, and I have a quick question.
Do you use the following tools internally? I see these features from your RPM spec, but we don't use these.
I am trying to clean up the dependencies while doing the dependency update to 4.8.

    org.freemarker/2.3.22.v20160210-1233, \
    org.eclipse.tools.templates.freemarker/1.0.0.201812111206, \
    org.eclipse.too

[2022-01-18 11:27] J17359 commented on #357
@ysroh - I imagine you're talking about the feature list [here](https://github.com/ZeligsoftDev/CX4CBDDS/blob/papyrus/releng/com.zeligsoft.dds4ccm.update.axcioma/rpm_build/zeligsoftCX_axcioma.spec#L6-L61)? It seems like the only one we're using from that list in our SNA Java plugins is the `javax.xml.stream` package. I just installed Papyrus 4.4.0 and don't see that `javax.xml.stream` package avai

[2022-01-20 14:16] ysroh commented on #357
@J17359
I am trying to test CX on Papyrus 4.8 and found out that the right click menus are not aligned and look ugly.
Do you think you can download and run the following version to see if you have the same problem??
Thanks.

https://www.eclipse.org/downloads/download.php?file=/modeling/mdt/papyrus/rcp/2020-06/4.8.0/papyrus-2020-06-4.8.0-linux64.tar.gz

[2022-01-21 04:44] ysroh commented on #357
@J17359 @j26151
I've updated CX to Papyrus version 4.7 instead of 4.8 for now. As mentioned in an earlier comment, the menu items look ugly in version 4.8. I am not sure it is because I have an older version of CentOS so it would be great if one of you could just download version 4.8 and check any context or drop-down menu items to check if they are not aligned in your environment as well.
I think

[2022-01-24 12:22] J17359 commented on #357
@ysroh - Sorry for the delay! I can take a look at this today, hopefully, and get back to you on what the right click menus look like for us in 4.8 in our environment. I'll report back once I've had a chance to test things. Thanks!

[2022-01-26 14:11] J17359 commented on #357
@ysroh My apologies yet again. A lot going on right now. I'm finishing up a task today that needs my immediate attention and then I'll be able to test your code and the papyrus weirdness you were seeing above with 4.8.

[2022-01-26 15:29] ysroh commented on #357
@J17359 No problem. Thanks for the update.

[2022-01-31 11:34] J17359 commented on #357
@ysroh - Ok so I installed Papyrus 4.8.0 and did not see any issues with the right-click menu options. Could you post a screenshot of what you were seeing for comparison or maybe give me a set of steps to run to try and reproduce? The only right-click menu I checked was the one in the Project Explorer view.

I had trouble installing CX into 4.8.0 but hacked something into place to try and get more

[2022-01-31 12:42] J17359 commented on #357
@ysroh - Testing with Papyrus 4.7.0 and your latest CX build from that branch job you linked has been successful. I'm running some more tests this morning but I say we can move forward with the upgrade. I'll report ASAP if I find any bugs.

[2022-01-31 14:11] ysroh commented on #357
@J17359 Here is the screenshot of the Papyrus 4.8. I see the menu like this without installing the CX.
If the menu looks good in your environment then I will update CX to 4.8. I just need to update the dependencies so it will probably be ready by tomorrow to test.

![image](https://user-images.githubusercontent.com/896503/151808338-a046f1b0-f80f-424b-ba5e-2ba1c1829e6d.png)

[2022-01-31 14:57] J17359 commented on #357
@ysroh - I never saw anything like that in my environment, no. I wonder if it's the GTK package you have installed in your version of CentOS throwing things off.

Regardless, I'm ok with moving to 4.8.0 if you are. I'll test again once you're ready for me.

[2022-01-31 15:34] ysroh commented on #357
@J17359 That's what I suspected. I will let you know as soon as CX for Papyrus 4.8 is ready. Thanks

[2022-02-01 01:17] ysroh commented on #357
@J17359 CX is now updated for Papyrus 4.8. Java 11 is required for this version.
I've tested the RPM installer. Please let me know if you have any issues.
I will merge this branch to papyrus once it is verified.

https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/1774715739

[2022-02-01 17:35] ysroh commented on #357
Update merged to papyrus branch.

[2022-02-04 13:13] j26151 opened #363 "Accidental connection between component and dataspace Stack Overflow"
# **Issue and tracking information**
If a connection to a dataspace is made from a component instead of the connector port, there is no error thrown). When generating descriptors, no CX error is thrown and papyrus eventually reports a stack overflow.

To reproduce you can:

1. Open up the BasicPubSub example
2. Open the BasicPubSub_asm_diag
3. Remove the connection between the dataspace and the ba

[2022-02-04 16:24] ysroh commented on #355
This is fixed now and can be closed once verified.

[2022-02-04 19:08] ysroh commented on #363
Is there a use case where a connection can be made from or to a component part? Should I disable any connection from component part? Or do you want me to only disable connection from a component part to a data space?

[2022-02-07 11:41] j26151 commented on #363
I cannot think of anytime where we would need to create a connection to/from a component part. I am also not sure how that would work in ".cdp" generation either. I would say it is fair to disable at the moment and if we ever have a use case in the future we can re-enable, but I can't imagine one at the moment.

[2022-02-08 18:49] ysroh commented on #363
Fixed. This issue can be closed once verified.

[2022-02-08 19:00] ysroh commented on #363
Are there any other issues that need to be included in the 2.1.x maintenance branch? from issues #310, Issue #342, Issue #347,
 Issue #346 ?

[2022-02-08 20:05] J17359 commented on #363
As far as I can tell, those other issues are already on the 2.1.X maintenance branch: https://github.com/ZeligsoftDev/CX4CBDDS/commits/streams/v2.1.x-maintenance

Or is that branch not the maintenance branch and actually something else?

[2022-02-08 20:14] J17359 commented on #357
@ysroh - I think this can be closed. I spent the past week migrating all our Java code to Java 11 and Papyrus 4.8.0 with the latest CX from the papyrus branch. I think it's safe to say that everything is working as expected for now and that anything that might crop up could be captured under another ticket. Thanks for all the work on this!

[2022-02-08 21:34] ysroh commented on #363
@J17359 Ahh.. You have been tracking that branch already. I created that branch myself, and I wanted to confirm that those included fixes are fine in the maintenance branch. So I will use the existing maintenance branch and include the fix for this issue as well.
Thanks for the clarification.

[2022-02-09 10:42] J17359 commented on #363
However you'd like to handle the maintenance branches is fine with us so long as they version the CX RPM how we'd expect. For example,
* streams/v2.1.x-maintenance -> cx-axcioma-2.1.1...rpm
* papyrus -> cx-axcioma-2.2.0...rpm

[2022-02-09 14:26] ysroh commented on #363
Sounds good, I will close this issue once verified. Thanks

[2022-02-17 21:25] ysroh commented on #356
Added batch validation to check delegate connector compatibility between two ports. Fix merged to papyrus. Please let me know if any of the issues fixed should be back ported to the 2.1 maintenance branch.

[2022-02-21 11:42] J17359 commented on #357
@ysroh - Please close this when you get a chance. It was tested on our end. Anything that may arise in the future can spawn a new issue. Thanks!

[2022-02-21 12:55] j26151 commented on #355
I have verified this fix on our end. You can close this issue.

[2022-02-21 13:19] youngsooroh commented on #356
@j26151 I see. Do you want me to delete/hide "isAsynchronous" check box?? or set it to True by default and disable editing when AMI4CCM is selected??

[2022-02-21 13:22] j26151 commented on #356
If the "isAsynchronous" check box has absolutely 0 impact on what is generated because the connector type "AMI4CCM" is all that matters for deciding when ayschronous client side artifact generation occurs then I see no reason to keep the check box around at all.

Additionally, it would be great if we could default the connector type to always be CORBA4CCM instead of needed to select it ourselves e

[2022-02-21 13:51] j26151 commented on #363
I have verified this fix. Thank you.

[2022-02-21 14:16] #357 closed

[2022-02-21 14:17] ysroh commented on #363
Closing.

[2022-02-21 14:17] #363 closed

[2022-02-21 14:17] ysroh commented on #355
Closing. Thanks

[2022-02-21 14:17] #355 closed

[2022-02-24 11:58] j26151 opened #368 "Attempting to modify anything in a model's referenced models does not work"
# **Issue and tracking information**
If a user were to attempt to add a connector or change a port on a component in a referenced ICM from the model, nothing happens. When attempting to click Finish on the final dialog nothing happens. This should work. Users should be able to create connectors and other types in the referenced model from the model that is referencing them.

Additionally, we do ha

[2022-02-24 12:21] j26151 opened #369 "Hide/Unhide inidvidual port names using toolbar button"
# **Issue and tracking information**
In the RSA based version, you used to be able to hide/unhide individual port names (either component or delegated ports on assemblies) using a toolbar button.  This only applied to the current diagram.  This was really useful on crowded diagrams for hiding delegated port names when they were near enough to the component's port that you could look at it to tell

[2022-03-01 11:54] ysroh commented on #356
The isAsynchronus field is being used during the generation so instead of modifying the generation code, I've added edit helper to automatically set the value according to the connector type and made the attribute read-only. The default connector type will be set to CORBA4CCM connector if the port type is set to an interface. Please let me know if this solution is acceptable.

[2022-03-01 11:56] ysroh commented on #356
I also removed the isAsynchronous stereotype from the Interface itself let me know if this is going to be an issue.

[2022-03-08 18:46] J17359 commented on #369
@ysroh - Yes I see that button enabled when I have focus on a port in my model's assembly diagram.
![image](https://user-images.githubusercontent.com/46937599/157304449-4ec3ac10-18d1-436b-800b-ab375976f84d.png)

It's up to @j26151 since he uses the tool more than I but I'd image that button would work for us. It would certainly be nice if there was an easier way to get to it though since the ghost

[2022-03-09 11:59] j26151 commented on #356
Sorry for taking so long to respond. I tested this out and everything looks good here. The only thing that I would ask is if its possible to hide the "is Asychronous" check box all together. Or make it more obvious that its a disabled field. The reason I ask this is in the case where the connector type is CORBA4CCM, its really hard to tell that it is disabled so users will attempt to click that ch

[2022-03-09 12:40] ysroh commented on #356
Absolutely. I will hide the field all together. Thanks

[2022-03-10 11:55] j26151 commented on #369
I think this is a good enough solution. I am fine with closing this now and if our users provide any more feedback we can go from there.

[2022-03-10 22:34] eposse commented on #368
Hi @j26151 . I've been assigned to work on this, but since I haven't worked on CX for a while, I was wondering if you could provide a minimal sample model?
Thanks

[2022-03-14 12:56] j26151 commented on #368
There isn't much to recreate here. I am attaching two models, BasicPubSub and ClientServer. I made ClientServer have a dynamic pathmap and I made BasicPubSub import it to reference it via. that pathmap and not a workspace relative path.  If you open up just the BasicPubSub model and try to edit ClientServer, you will be unable to make any changes
[zeligsoft_368.zip](https://github.com/ZeligsoftDev

[2022-03-14 14:53] j26151 opened #374 "Component Label Appearance"
# **Issue and tracking information**
Components in diagrams have the following appearance issues that we would like changed if possible. 

1. The migrated component instance's name is in the in the middle of the component and not a top compartment
2. Its symbol is not the component symbol.

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# *

[2022-03-14 15:08] j26151 commented on #374
Additionally, when clicking on a component on an assembly diagram and go to the Profile tab under properties, it shows as CCMPart. I would it expect it to be a CCMComponent profile. I'm not sure what the impact of this is, but it should be looked into.

[2022-03-14 15:58] j26151 opened #375 "Enumeration types not validated for IDL generation"
# **Issue and tracking information**
Input should be validated when naming different types and values. For instance, if a user enters text into an enum literal field which included spaces then it would let them do it, validate the model, and generate illegal IDL that will not compile

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue

[2022-03-14 23:21] eposse commented on #368
Thanks. I'm having trouble getting the dev environment setup, so I'd like to confirm with you what you are using. If I recall, you are on CentOS 7, is that right? And you are using Java 11, Oracle or OpenJDK or something else?

[2022-03-15 18:18] eposse commented on #368
Thanks. I was able to solve the issue with Paul's help.

I don't know if it affects you, but in case you use Xtend for your development, you will run into this. The problem is that the Papyrus 4.8 RCP includes a *nightly build* update site for Papyrus, so after installing Xtend or Xtext there will be a conflict between different versions of Google Guava and Google Guice. The solution is to remove

[2022-03-16 14:25] j26151 commented on #356
I see that isAsynchronous is hidden which is great. My only question left is that when I type a port as AMI4CCM and check the profile tab under properties, the isAsynchronous boolean is set to false. I would expect this to toggle to true with AMI4CCM. Is this field no longer used at all or is false okay in this instance?

[2022-03-16 14:30] ysroh commented on #356
I've seen that the value of the stereotype was not refreshed under the profile tab. Can you try to click another object and come back to the same port to see if the value is updated?

[2022-03-16 14:35] j26151 commented on #356
Clicking off of the object and back on shows it being updated correctly. I would be fine with closing this ticket, but I would like to have that tab refresh immediately. I can't think of other specific instances where this has happened but I know this is not the first time we have seen this in papyrus for other fields. It would be great if the UI was refreshed on its own or accurate when we are vi

[2022-03-16 14:37] ysroh commented on #356
I will create a separate ticket for the refresh issue and close this ticket, thanks.

[2022-03-16 18:25] #356 closed

[2022-03-16 18:44] ysroh opened #376 "Papyrus does not refresh stereotype value under Profile properties tab unless the selection is changed"
# **Issue and tracking information**
Steps to reproduce:
1. Click on a port and open the CX Properties view
2. Open profiles tab to check stereotype values
3. Go to the CX Properties tab and change any boolean value
4. Go to the Profiles tab and check the stereotype value. The value is not updated

We need to investigate and fix this issue.

### Developer's time Estimated effort to fix (hours):

#

[2022-03-17 20:16] ysroh commented on #375
I've added a batch validation on Enum to check all literals are valid. Please verify that this issue is fixed.

[2022-03-21 17:01] j26151 commented on #375
This looks good to me. You can close the issue.

[2022-03-23 16:13] ysroh commented on #374
A component instance is a different object than the component definition so they have their own properties and icons. I am not sure if I can change the icon for the component instance or not but I will look into it. I will also look into seeing if I can align the title as well. About the properties tab, I would be really careful and somewhat reluctant to mix properties of two different object type

[2022-03-23 16:16] ysroh commented on #374
And the profile tab shows the correct stereotype because the selected object is the component instance not the definition and it is not possible to change what's under the profile tab. Users can navigate to the definition model in order to see the CCMComponent stereotype under the profile tab.

[2022-03-23 16:18] ysroh commented on #374
I would like to definitely hear more about your use case so I can maybe suggest different solutions.

[2022-03-23 16:21] j26151 commented on #374
I think we are okay with leaving the profile tab alone. The use case here is really trying to keep things clear and simple for our users. As far as they are concerned, a diagram has assemblies, components, ports, connections, and dataspaces. Things like CCMPart can be confusing to them as well as not having a component Icon when they are dealing with components in their diagram. I understand the d

[2022-03-23 16:33] eposse commented on #368
Ok, I've spent the last week or so investigating this and attempting to implement it, but I've found that there is no simple way of making referenced models with a dynamic pathmap editable in the model explorer. It looks like most of Papyrus is designed to use platform resource URIs and pathmaps are meant only for (read-only) libraries. Hence, it looks like a considerable amount of work would be n

[2022-03-23 17:32] ysroh commented on #374
Thanks for the clarification. I will look into the alignment issue.

[2022-03-24 11:14] j26151 commented on #368
From reading the comment above, I gather that the limitation is that ".. there is no simple way of making referenced models with a dynamic pathmap editable in the model explorer"

Is this a limitation of just dynamic pathmaps? If we were including these model with workspace relative paths would everything work fine? Dynamic pathmaps as accessible by the user and not just through installed model li

[2022-03-24 13:25] j26151 commented on #374
The alignment looks great. I think we would still want to see a different icon for the component instances themselves if possible. Also, I assume the black boxes around the DDS ports are something specific to your environment and not included in this fix.

[2022-03-24 15:39] ysroh commented on #368
Ernesto is going to try one more thing before we conclude that this is not possible. I suspect that it might not be possible due to the limitation of pathmap in general, not just the dynamic pathmap. If you are referencing another model by platform URI (referencing external model without using Dynamic Pathmap via "search in the same project" option in the selection dialog),  then it is possible to

[2022-03-24 16:18] MHayman5 commented on #368
This is fundamentally a workflow issue.  It is natural and easy for users to make changes to a model or models by editing component instances, ports, interconnects, port types, and properties on selected elements seen visually on a composite structure diagram that is open in the main drawing window.  All using the Palette, popup menus and properties pane, while the drawing remains visible for cont

[2022-03-25 11:58] ysroh commented on #368
Thanks for the clarification on the workflow. We know exactly what the workflow is, so we will try to develop a solution for this and let you know.

[2022-03-29 11:50] j26151 commented on #374
This looks great on my end, thank you. You can close this issue

[2022-03-29 12:34] ysroh commented on #374
Thanks.

[2022-03-29 12:34] #374 closed

[2022-03-29 13:11] j26151 commented on #118
Do we think this issue can be closed now?

[2022-03-29 13:15] j26151 commented on #82
It looks like the domain structure diagram is created automatically. The component diagram is created when the wizard option is selected. Would we expect the component to also be automatically placed in the diagram upon creation? That is the only part of this ticket that I think still needs to be fixed?

[2022-03-29 15:41] ysroh commented on #118
Yes, I will close this issue.

[2022-03-29 15:41] #118 closed

[2022-03-29 15:46] ysroh commented on #82
We haven't spent much time on the component diagram in general, but you are right regarding the intent of this issue.

[2022-03-30 12:55] j26151 opened #381 "EXT: CCM_DDS::Unlimited bound does not apply"
# **Issue and tracking information**
When setting the bounds of a sequence to  CCM_DDS::Constants::Unlimited nothing happens and the bound's constant remains "null". The following exception is received:
![image](https://user-images.githubusercontent.com/49879646/160839009-323aac41-aa69-4063-b3ed-92d956038493.png)

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time s

[2022-03-30 18:08] ysroh commented on #368
I have a question regarding the workflow. Do you expect to edit the referenced dynamic pathmap model from multiple editors?

e.g.,)
Case 1. Model A and B both reference path mapped model P. User opens model A and B at the same time and make modifications to the path mapped model P indirectly.
Case 2. Model A references path mapped model P. User opens the model A and P at the same time and make mod

[2022-03-30 18:19] ysroh commented on #368
You can control the read-only mode from the model properties view.
If you configure the path mapped model to be "Model Library" then the model will not be editable from the referenced models.
![image](https://user-images.githubusercontent.com/896503/160903801-ab89c950-102e-4b60-8f6b-867d8aa3af8c.png)

[2022-03-30 19:21] MHayman5 commented on #368
Based upon the two use cases described, your limited solution does not sound like a problem.  In general the workflow described only requires editing the referenced model indirectly from one parent model & structure diagram that leverages element types defined within it.
While use case 1 seems quite unlikely, use case 2 could possibly happen inadvertently once editors for both the referencing and

[2022-03-30 19:41] ysroh commented on #368
You can use the model explorer context menu from the referencing model to create element for the referenced model.

What will happen is that the editor will throw some exceptions and you will not be able to access the model explorer view. No model corruptions. You just need to reopen editors and everything will be fine.

[2022-03-30 20:07] ysroh commented on #368
In order words, you can edit the fields in a data structure or message/interface type directly from the referencing model without opening the referenced model.

![image](https://user-images.githubusercontent.com/896503/160921861-d7400c1f-3208-4380-881b-986d6c8a7df8.png)

[2022-03-30 20:15] MHayman5 commented on #368
Great, all sounds good & worth trying out.

[2022-03-30 20:15] ysroh commented on #368
Fix merged to the "papyrus" branch.

[2022-03-30 20:18] ysroh commented on #381
This issue should be fixed now as I've committed a fix for this issue as part of the Issue #368 commit.

[2022-04-01 15:45] j26151 commented on #381
I have verified this on my end. Thank you

[2022-04-01 16:04] j26151 commented on #368
This looks really good on my end. I did see one issue that we would like fixed. If Model A references Model B, and Model B is marked as a Model Library (read only), and I attempt to make a change in Model A to something in Model B (add a port to a component in model B from an assembly in Model A), nothing happens. We would like to see an error dialog pop up to just tell the user "You can't make th

[2022-04-04 00:45] ysroh commented on #368
See comments inline

**ys] Will work on it.**

**ys]
One way to address this issue is to call a function in CX to add ModelLibrary stereotype. However, this requires running the tool in headless mode to invoke the function and may be too heavy for a simple thing like this.
So I would suggest an alternative way to handle this. I can update the code to use the annotation instead of the model library

[2022-04-04 10:46] j26151 commented on #368
Sounds good, thank you.

[2022-04-06 10:55] J17359 opened #383 "Update streams/v2.1.x-mainteance versions to 2.1.1 to differentiate from 2.1.0 formal release"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**

For example, https://github.com/ZeligsoftDev/CX4CBDDS/blob/1bd21edbcead200c86f639924631cc7833b15792/pom.xml#L7 should be changed to `2.1.1-SNAPSHOT`. All other pom.xml's an

[2022-04-07 20:43] ysroh commented on #368
All required changes, including the migration, are merged into the papyrus branch.
You can change the "model_library" value of the "zcx" annotation to "true" to make the pathmapped model read-only.
![image](https://user-images.githubusercontent.com/896503/162292391-2fe58b1b-78c2-4dfd-98f9-4461b090463d.png)

Let me know if you find any issues with this commit.

[2022-04-11 10:59] j26151 commented on #368
This all looked good to me, thank you.

[2022-04-11 13:36] j26151 opened #390 "NullPointerException when changing models and/or closing a model."
# **Issue and tracking information**
I don't have a reliable reproducer for this issue. It is one that we see frequently but random. I have attached the stack trace.
[ErrorLog.txt](https://github.com/ZeligsoftDev/CX4CBDDS/files/8464525/ErrorLog.txt)

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a detailed des

[2022-04-11 19:23] ysroh commented on #368
Closing...

[2022-04-11 19:23] #368 closed

[2022-04-11 19:23] #381 closed

[2022-04-18 11:29] j26151 opened #391 "Cannot create component in new workspace"
# **Issue and tracking information**
On a newly created workspace we are not able to click "finish" on the create component dialog unless we de-check both "create package/subpackage" checkboxes. This only happens at the moment on the first creation of the worskapce. If we close the workspace and reopen it, it appears to not have the issue. This issue only happens on the 2.1.0 version of CX, howeve

[2022-04-18 13:39] ysroh commented on #391
@j26151 I will get it fixed asap.

[2022-04-18 22:49] ysroh commented on #391
This should be fixed now in the 2.1.1 maintenance branch.

[2022-04-19 12:26] j26151 opened #392 "Allow Domains in deployment plans to resync with referenced based domain"
# **Issue and tracking information**
As of now, if one were to add information such as an additional node to a domain, domains in a deployment plan that reference the modified domain will not update to include the additional node. The domain must be brought into the deployment plan and reconfigured. This is inconvenient and time consuming to do when deployment plans contain many domain configurati

[2022-04-19 12:27] j26151 commented on #392
We would like this fix added to both the head of papyrus and the streams/2.1.0 branch

[2022-04-19 13:04] J17359 commented on #392
`papyrus` and `streams/2.1.x_maintenance` is what we meant.

[2022-04-19 13:19] ysroh commented on #392
Will work on this next. Thanks

[2022-04-19 13:20] #383 closed

[2022-04-25 17:56] eposse commented on #390
Hi @j26151 When you say "changing models" do you mean that you have two models open, are working on one, and then switch to the other by, for example, click on a tab with a diagram of the other model?

[2022-04-25 18:06] j26151 commented on #390
Yes, clicking on different models (different *.di files) that are already opened.  This is an error that I have definitely seen on papyrus  4.4.0 (2019061217). I cannot remember if I saw it in the newer version that the head of the papyrus branch is pointing to. I wish I had extra details to give you.
To give a little more context on this issue. It is pretty common for our developers to be going a

[2022-04-26 16:28] eposse commented on #390
I understand that the popup is annoying, and I agree that these popups shouldn't happen. Although in some cases, we don't control when these pop-ups are displayed.

I'm testing to see if I can reproduce it, but the trace doesn't show any of our code being involved, so it looks like it is a Papyrus issue, which means that any solution would require a patch to Papyrus.

It looks like it is related t

[2022-04-26 16:29] j26151 commented on #390
Yes, we too think this is a problem in papyrus itself. We are certainly not placing the blame for this NPE on CX or Zeligsoft. We were hoping though that you may be able to find a fix in papyrus and provide a patch to us like you have in the past (I think?)

[2022-04-26 16:54] eposse commented on #390
I'd like to reproduce it as close as you, so I'm trying to build the RPM package, but I forgot how you do it, can you remind me?

I have rpmbuild installed and tried

[code]

but I get some errors about non-existing folders. Do I need to run rpmbuild from a different folder? Do I need to set some environment variables? Does papyrus need to be pre-installed at /opt/Papyrus?

Thanks.

[2022-04-27 12:16] J17359 commented on #390
@eposse Looking at your GitHub actions [yaml file](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/2184580889/workflow), it looks like you [build the CX plugins](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/2184580889/workflow#L62-L74) with maven and then [run rpmbuild](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/2184580889/workflow#L100-L105) on the artifact location. See

[2022-04-29 22:19] eposse commented on #390
It looks like both @ysroh and I can reproduce a very similar issue. There is one small difference however: The exception trace you attached, it begins with

[code]

but the one we are getting begins with

[code]

So both are related and both occur when the ModelExplorer view of a model is being closed, but as you can see, the exact origin is different. If you get this again, can you double-check i

[2022-04-30 12:00] j26151 commented on #390
Sure, I will try to pass along more info if and when I see it. Which papyrus version did both of you see your exception on?

[2022-05-02 15:13] eposse commented on #390
Thanks. We are on Papyrus 4.8 (release 2020-06).

[2022-05-03 23:42] eposse commented on #390
Just to give a status update.

While I'm able to "reproduce" this issue, more precisely the one that produces the NPE from the SaveAndDirtyService, I don't know the exact steps. However, I've been able to establish that:

1. It happens when you have two models and one references the other
2. You edit the referenced model, either in its own editor or from the model explorer in the other model
3. Yo

[2022-05-04 12:16] j26151 opened #395 "Implementation options for components do not show in indirect situations"
# **Issue and tracking information**
I have attached a reproducer for this problem. The reproducer contains 3 models.

-ClientServer.uml is the base model. It depends on nobody and is slightly modified such that the source client component has two implementations. Additionally, this model has a dynamic pathmap set.

-BasicPubSub.uml references the ClientServer.uml dynamic pathmap and has the sourc

[2022-05-04 19:25] ysroh commented on #392
Fix merged to papyrus branch.

[2022-05-04 19:26] ysroh commented on #391
Let me know if I can close this ticket as well. thanks

[2022-05-06 11:30] j26151 commented on #391
I verified this on our end, you can close it. Thank you

[2022-05-06 11:30] j26151 commented on #392
I verified this on our end, you can close it. Thank you

[2022-05-06 11:57] j26151 opened #396 "Issue with CDD creation of multiple domains within a single deployment plan"
# **Issue and tracking information**
Our applications frequently require the ability to deploy the same components/code to various domains. We have a solution in CX where in the deployment plan, we can drag in a domain multiple times and assign multiple different sets of ip addresses and ports to create various CDDs that are equivalent in structure (same number of nodes and names of nodes) and dif

[2022-05-06 12:21] ysroh commented on #391
Thanks

[2022-05-06 12:21] #391 closed

[2022-05-06 12:21] #392 closed

[2022-05-09 16:11] ysroh commented on #396
After the investigation, I found out that this problem is introduced after fixing https://github.com/ZeligsoftDev/CX4CBDDS/issues/228. We allowed users to modify node names within the deployment plan rather than changing the node instance name from the domain. So I will set the default names of nodes to their node instance names when they are dragged onto the deployment.

[2022-05-09 16:14] j26151 commented on #396
Hmm, I see the problem. I think the end goal is this. We want the names of the nodes in the CDP and all CDDs generated to be that of the first domain in the deployment plan (i.e. the one that is set in the deploy side of the deployment plan). However, we still need the ability to have multiple domains in the configure pane, and the CDDs that generate from the extra domains must work with the singl

[2022-05-09 16:28] ysroh commented on #396
I think you just need to make sure that the node names are the same under all domains. For example, if you modified one of the node names from the deployment plan, then you also need to change the node names from other duplicated domains as well. Do you think this solution works??
The other solution is to go back to the code base before issue #228 so we use the node instance name to generate CDD b

[2022-05-09 19:17] j26151 opened #397 "Need to investigate a way to generate only certain information for specific port types with DDS"
# **Issue and tracking information**
Recently we encountered an issue where a component with a DDS_Write port whose dataspace is configured to have a push_consumer content filter would create DDS_Subscriber entities when we ran our code. After speaking to RemedyIT, they informed us that the issue is that the configuration properties for a "content filter" cause their middleware to create all entit

[2022-05-10 08:51] jwillemsen commented on #397
The DDS4CCM Event connector (https://github.com/RemedyIT/ciaox11/blob/09a25cf421d27ed2b6f47e66f95bd7bb45a89a9c/connectors/dds4ccm/idl/ccm_dds.idl#L316) combines 3 different extended ports, each for a different role. The AXCIOMA Event connector implementation contains the code for all 3 extended ports, but at runtime the necessary objects are only created when an extended port is used (meaning one

[2022-05-11 19:20] ysroh commented on #396
Fix merged onto "papyrus" branch. I turned off the warning for duplicate names and set the default node name as its model element. If you change the node name from the deployment plan, you need to make sure to change the node names from other duplicate domains in the deployment. Please let me know if the solution is satisfactory.

[2022-05-11 21:15] eposse commented on #390
Hi @j26151 and @J17359 . An update on this issue, with a couple of questions for you.

The problem arises from some race condition in Papyrus, but I am still unable to pinpoint the precise reason for this, which means that it's not clear what exactly to patch in Papyrus, but we have been discussing and it would seem that the main problem for you here is the annoying pop-up, so we thought about an

[2022-05-12 10:53] j26151 commented on #390
@eposse This solution sounds reasonable to me, however I definitely want @J17359 to think about it a bit before we fully commit. He is out on vacation at the moment and wont be back for another week or so.

Some comments/questions that I have:

1. Would this allow you to just catch this specific instance of the exception and not say, all null pointer exceptions? We definitely want real, important

[2022-05-12 11:31] j26151 commented on #396
This solution sounds good to me. I will build and verify it on my end, but first...

I agree with the onus being on the user to keep their node names in sync across other duplicate domains in the deployment plan. I do wonder if there is something CX could do to warn the user when this isn't the case. Basically, if the first domain has 4 nodes and some duplicate domain has different nodes, that dup

[2022-05-12 14:53] eposse commented on #390
Hi @j26151, my answers are below:

1. The idea is to make the system as customizable as possible. The implementation allows you to select the "undesirable" exceptions you want to filter and ignore (i.e. avoid the pop-up) while still logging them, and all other exceptions are delegated to the standard error handler. My current implementation allows you to programatically register these "undesirable

[2022-05-12 16:19] ysroh commented on #396
No problem. I will throw a warning during validation if node names do not match among multiple domains in a deployment.

[2022-05-16 11:31] j26151 commented on #390
@eposse I think all of this sounds great. Again, I would like Michael to think this over when he returns on Wednesday before we move forward.

[2022-05-17 10:43] j26151 opened #400 "Improve handling of domain instances across multiple deployment plans"
# **Issue and tracking information**
We are looking to make a sizable change to domain modeling in CX.  We have a current issue that we handle manually and that is if we have say 1 domain with 5+ different sets of node->IP mappings and they exist in 10 different deployment plans, we have to ensure that all of the domains mappings stay in sync between all of the deployment plans. Additionally, any

[2022-05-17 17:42] ysroh commented on #395
This should be fixed now.

[2022-05-17 17:53] ysroh commented on #396
I guess we could close this ticket without adding a validation since issue #400 will solve this issue?

[2022-05-17 17:55] j26151 commented on #396
If #400 does solve this issue such that no user could create a CDD/CDP combo and have different node names between them, then I agree. Additionally, we would need #400  to be implemented relatively soon. If we think it may take a while, that is okay, but then we would want the validation.

[2022-05-17 18:09] j26151 commented on #396
Okay, I think we can ignore the validation warning at the moment since it would be a new feature, more-or-less.  I still want to verify this on my end before we close it out.

[2022-05-17 18:10] ysroh commented on #396
Sounds good. thanks.

[2022-05-18 11:59] j26151 commented on #396
This fix looks good to me, but we need the fix on the streams/v2.1.x-maintenance branch too

[2022-05-18 12:13] j26151 commented on #395
I have verified this fix. Thanks

[2022-05-18 12:51] ysroh commented on #395
Thanks

[2022-05-18 12:51] #395 closed

[2022-05-18 14:18] j26151 commented on #397
Additionally, while I can't think of a use-case at the moment, we might want a solution that is flexible for future connectors that could have a similar issue. I.e. multiple ports with different attributes for each.

[2022-05-20 01:04] eposse commented on #390
I've opened PR #402 with the new branch.

It doesn't yet include the custom error handler to deal with this issue, but you can check how the all-in-one RCP product is built and test it. See the pull request for a description of what it includes and where to find the generated zip file.

[2022-05-23 16:56] J17359 commented on #390
@eposse My goal is to test that new artifact this afternoon or tomorrow morning. I'll report back here after. Sorry for taking a few days to get around to this!

[2022-05-24 10:59] J17359 commented on #390
@eposse I'm continuing to walk through some of our normal development processes and so far everything looks good. I've built our SNA plugins inside your new product in both EL7 and EL8 successfully. I'm now using those built plugins to launch a second Eclipse instance to test the plugins that were built. I'll keep you posted how that goes.

As for the name of this new product, I'd prefer `papyrus-

[2022-05-24 12:25] J17359 commented on #390
@eposse Ok I think I'm happy with the current state of things (aside from the broken Tasks view in the C/C++ perspective - which really isn't a huge deal but something we'd like fixed or hidden). I ran through a few normal developer scenarios and was able to perform them all without issue. It's not a perfect test by any means and I didn't do any actual modeling during my testing, but we will test

[2022-05-24 15:59] eposse commented on #390
@J17359 Thanks for looking into it. I'll change the name, and look into the problem with the tasks view. If you get a change to share the message that appears when you click on "Details..." in that view, as well as the error log, it would be great.

As for the custom error handler, which is why we are going this path, I have a preliminary version, but it is not yet ready. The idea is that you can

[2022-05-25 12:13] J17359 commented on #390
@eposse I think this might be coming from our default_preferences.epf file we import into new workspaces automatically for our users. I think there's some saved mylyn preferences in there. I'll try and remove those references to see if that fixes our bug. It only happens with the default_preferences.epf file imported so I think there's nothing to do on your end for that. Sorry for assuming it was

[2022-05-26 21:54] eposse commented on #390
@J17359 @j26151 I've added an RPM spec for the product and pushed it to PR #402. Our automated build on Github doesn't use it yet, but you can test it by first building with mvnw as usual and then rpmbuild on the new spec which is located under `releng/com.zeligsoft.papyrus-cx-axcioma.rcp.product/rpm_build`.

I used the following script to build the rpm:

[code]

You can adjust the directories acc

[2022-05-31 10:35] J17359 commented on #390
@eposse you can disable this phase using `%define __jar_repack %{nil}` at the top of your spec file. We do that in some of our Java-based RPMs to speed things up. We haven't noticed any down-side to disabling that repack but I'm also not entirely sure what it does in the first place so maybe we just got lucky? Your mileage may vary!

I'm going to build your branch and generate the RPM this morning

[2022-05-31 17:40] J17359 commented on #390
@eposse Now that you're packaging Papyrus with CX, could you add a Papyrus desktop file so we can see it in the Activities bar of the OS? For example, we had the following in our RPM spec that packages papyrus that I imagine could be modified for your specific use:
[code]

[2022-05-31 22:25] eposse commented on #390
@J17359 I've added the desktop file and the define to skip the jar repack phase. It works nicely. Let me know if this (PR #402) is ok to merge now. Note that this still doesn't include PR #403 which works but Paul has asked for a couple of changes.

[2022-06-01 12:03] J17359 commented on #390
I think PR #402 is ok to merge assuming your team has reviewed. Once it's on the papyrus branch, I'll generate the RPM on our end and start to wrap our plugins into that new product instead of papyrus and will let you know how that goes.

[2022-06-03 22:24] eposse commented on #390
@J17359 @j26151 Both Paul and Young-Soo have approved merging PR #402 (the product build) so I've merged it.

I also rebased #403 and it is ready for you to test it.

Here's what I did to test it:
1. Created a model A with a single struct CXStruct1 with a single field CXField1, and gave it a Dynamic pathmap
2. Created a model B, imported model A, added a CXArray whose members are of type A::CXStru

[2022-06-06 16:25] eposse commented on #390
(In reply to comment #32)

No problem. I'll be working on #397 in the meantime.

[2022-06-07 11:54] J17359 commented on #390
@eposse Would you guys be willing to install an XML Editor for us in your new Papyrus-CX product? We used to do it ourselves but are missing a dependency in the new Papyrus (it used to come with the old Papyrus). Rather than having you install the dependency, I wonder if it would be easier to simply install the XML Editor plugin for us?

The update site for the plugin: https://download.eclipse.org

[2022-06-07 14:54] eposse commented on #390
@J17359 Yes, no problem. It's quite easy. I'll have a PR for you shortly. If there are any other tools you'd like installed and prepackaged just let us know.

[2022-06-08 20:50] eposse commented on #397
Hi. I've been working on a solution to this and have a couple of questions.

First, the approach to solve this, suggested by @ysroh was to filter the push_consumer (and pull_consumer) properties from view in the Properties section of the DDS_Write port, that way, the user could not modify its properties and therefore the corresponding configuration would not be generated in the .cdp descriptor.

H

[2022-06-08 22:49] MHayman5 commented on #397
@eposse , first yes it's common in a deployment plan editor to set properties on a connector instance that are intended to automatically propagate to all extended port types on component ports that connect to it in an assembly definition.  This is the typical way of setting config parameters that component ports are intended to share in order to communicate.  Like the topic_name, domain_id and qos

[2022-06-09 17:44] eposse commented on #397
Thank you @MHayman5. So, to be absolutely clear, and make it more concrete, in the example that I showed above, the parent connector type/instance is DDS_Event, and if the user edits its "default" settings under TestData_conn, in particular, it edits the query filter under "push_consumer", then, in the generated descriptor file, the "push_consumer_filter" configProperty should appear *only* under

[2022-06-09 17:56] j26151 commented on #397
Yes, that is exactly the behavior that we are looking for. The thing we want to ensure though is that this isn't a special if statement specific to CCM_DDS but that this behavior is seen with all connectors/ports. E.g. if there was a similar situation with the PSDD connector and ports, we would want this solution to just "work" there as well.

[2022-06-09 19:38] eposse commented on #397
Thanks for the clarifications. The solution we are proposing to support other connector/port types is to use an extension point to register properties that you would like filtered out for that type. Currently we only have the case for DDS_Write + push_consumer/pull_consumer, but if new cases arise, it should be a matter of registering a new connector/port type property with the extension point.

[2022-06-13 11:59] j26151 commented on #397
My only questions for this would be how would someone specify these extension points? Sometimes we create model libraries that contain connectors that we install as model libraries (install into eclipse) and other times we just have the connector's model referenceable in the workspace (imagine CCM_DDS's model in the workspace and we use dynamic pathmapping to reference it)?

[2022-06-13 14:48] eposse commented on #397
Our current approach is to define the filtered properties in the "com.zeligsoft.domain.idl3plus.model_library_configuration" extension point which was already used in the com.zeligsoft.domain.dds4ccm.ddsdcspconnector and com.zeligsoft.domain.dds4ccm.psddconnector plugins. This extension point was defined to configure aspects of the model libraries, such as port icons. We extended it to allow the s

[2022-06-14 10:53] J17359 commented on #390
@eposse - Could you remind me what PRs are left for this ticket? I know we've had a few go in for the Papyrus product reorg but we don't have anything done for the NPE right? Just making sure there's nothing more for us to test at the moment!

[2022-06-14 14:54] eposse commented on #390
@J17359 Yes we have fixed the NPE issue. See pull request #403. Also see the comment [above](https://github.com/ZeligsoftDev/CX4CBDDS/issues/390#issuecomment-1146410387) where I described how I tested it. I believe you were going to test it on your side. Let me know if it works for you.

[2022-06-14 15:16] J17359 commented on #390
Have you rebased #403 since the last PR with the xml-plugin addition? I can generate the RPM from that PR today and get Eric or myself to test today or tomorrow

[2022-06-14 16:23] eposse commented on #390
@J17359 I've merged the PR with the XML feature and rebased #403. The build is done and the RPM can be downloaded here: [https://github.com/ZeligsoftDev/CX4CBDDS/suites/6929687783/artifacts/269689309](https://github.com/ZeligsoftDev/CX4CBDDS/suites/6929687783/artifacts/269689309)

[2022-06-14 16:43] J17359 commented on #390
Great, thanks! Copying that artifact into our environment now. I hope to have the NPE fix tested by EOD tomorrow. I'll keep you posted.

[2022-06-14 18:24] j26151 commented on #390
So, when I attempted to follow your instructions to recreate with the RPM that you linked above 2 notable things happened:

1. Before peforming step 5, I saved the model after step 4. This caused a null pointer exception that showed a pop up.
![image](https://user-images.githubusercontent.com/49879646/173661864-eed09cb9-1b69-478e-8089-6f1faac5b810.png)

2. I ignored this, did step 4 again. Saved.

[2022-06-14 18:29] j26151 commented on #390
One concern I have with these errors specifically is that this is all related to attempting to modify a model through a dynamic pathmap relationship. I thought we had this implemented by @ysroh a few months ago. Why are we getting exceptions doing these fairly routine operations?

[2022-06-14 18:41] j26151 commented on #390
Yes, I received the pop-up with the second one. This is the situation that I would have expected to not get a pop up, but I did get one. I wonder if the pop up occured becuase there was still a previously un-removed exception from my first point? I am not sure. But I did get a pop up.

[2022-06-14 18:52] eposse commented on #390
I doubt it's related to the first, but now I am experiencing an issue with the extension point to register exceptions which I didn't have before and which would explain why the filtering is not working so I'm investigating. I'll post back when I figure it out.

[2022-06-14 18:52] j26151 commented on #390
Sorry, so it looks like I may have received 2 exceptions at the same time for the second case. The one that you guys have specifically hidden was not shown. But I got the following exception as well:
![image](https://user-images.githubusercontent.com/49879646/173666801-7cde1534-cce2-4c53-afba-e43459b60765.png)

So it looks like your filter worked on the one exception, but it is possible to get two

[2022-06-14 19:01] eposse commented on #390
The ServiceNotFound exceptions are very common in Papyrus and I've never seen one causing a pop-up.

But I think I found the reason why the pop-up may have occurred. It seems like it was not packaged in the RCP. I'm adding now the decorator exception and rebuilding.

[2022-06-14 19:20] eposse commented on #390
Ok, I can confirm now that the new error handler was missing from the packaging in the previous build, which would explain the pop-ups.

I'm now pushing the fix and the updated package would be available in about 20~25min after the build.

[2022-06-14 19:41] eposse commented on #390
The build is done. You can get the latest RPM [here](https://github.com/ZeligsoftDev/CX4CBDDS/suites/6932622817/artifacts/269870874).

[2022-06-14 20:35] eposse commented on #397
I've rebased and rebuild PR #406. It's been reviews by @ysroh and it's ready for you to test.

[2022-06-14 20:35] eposse commented on #397
The link to the RPM is [here](https://github.com/ZeligsoftDev/CX4CBDDS/suites/6933193268/artifacts/269912282).

[2022-06-15 11:16] j26151 commented on #390
This looks good to me. I verified that the error comes up in the Error Log but there is no pop up.

[2022-06-15 17:20] J17359 commented on #390
@eposse I think we're cool for you to merge https://github.com/ZeligsoftDev/CX4CBDDS/pull/403 when you're ready. Eric tested that RPM yesterday.

[2022-06-15 20:18] eposse commented on #390
I've merged it. So we can close this issue?

If there are new pop-ups, let us know.

[2022-06-16 10:35] j26151 commented on #390
Yes, you can close this issue.

[2022-06-16 15:08] #390 closed

[2022-06-16 17:05] eposse commented on #397
I rebased #406 on top of the latest merged changes. You can get the RPM [here](https://github.com/ZeligsoftDev/CX4CBDDS/suites/6965812113/artifacts/272054299).

[2022-07-01 12:48] j26151 commented on #397
I have verified this on our end. You can merge it into the baseline.

[2022-07-04 21:10] #397 closed

[2022-07-04 22:31] eposse commented on #400
Hi. I have a few questions about this issue.

First, I want to be sure I understand the problem, how you are currently dealing with it, and your proposed solutions.

You say to consider the situation where "we have say 1 domain with 5+ different sets of node->IP mappings and they exist in 10 different deployment plans". How exactly are you modelling this? I'm assuming that you are dealing with thi

[2022-07-05 14:45] MHayman5 commented on #400
It sounds like you understand the issue & proposed solution.  "Yes" to all the "is this correct" questions.

[2022-07-05 14:56] ysroh commented on #400
Do we allow one to many mapping between a domain definition to domains? Or one-to-one mapping? If you have multiple domains in a domain definition, you will see multiple domains in the deployment configure pane, and is that your expected workflow?

[2022-07-05 15:05] MHayman5 commented on #400
One to many.  A single common domain definition should just provide node names and basic node type attributes that can be set differently when instantiated multiple times in the configure pane for a domain editor.

All the deployment plan editor needs relative to a domain is the common domain definition type that defines the node names, so it can support mapping container processes that it adds to

[2022-07-05 20:55] eposse commented on #400
Another question: the new "Domain Definition" element seems to be a "container" for one or more concrete "Domains" which will provide specific node->address mappings. Are there any constraints on the Domains contained within a Domain Definition? For example, should all Domain elements included in a Domain Definition have the same nodes?

[2022-07-06 13:49] MHayman5 commented on #400
By "same nodes" do you mean the same computer node types with common settable attributes/attributes, just instantiated perhaps in different numbers (with alt graphical interconnects)?  If so, we could live with that since all we really use in a Domain Definition, or Domain, or whatever, is the computer node logical name, and the ability to set an  IP address/port attribute/property for each node.

[2022-07-06 21:14] elder4p commented on #400
@MHayman5  & @j26151:

Because this is such a big change, I’m stepping in to make sure we have a common understanding of the problem and the proposed solution. Bear with me if I’m repeating details already discussed.

**The fundamental problem**: This is no single model element representing a CDD file.

**Current situation**: Domain elements are defined once. Each Deployment Plan references one or

[2022-07-12 12:09] j26151 opened #408 "Minimize usage of randomly generated UUIDs in deployment artifacts"
# **Issue and tracking information**
The usage of randomly generated UUIDs obfuscates the majority of functional changes in  CDP and CDD files, and reduces usability of pull requesting tools.  This confuses a majority of developers in both deployment and new updates.  Remove the usage of UUIDs and come up with a static way to set them possibly using a hierarchical naming approach.

### Developer's

[2022-07-12 12:11] j26151 opened #409 "Improvements for Pathmap Conflicts"
# **Issue and tracking information**
We would like the following added to the pathmap conflict dialog:

1. One dialog for all pathmap conflicts
2. In the dialog, a radio selection for each pathmap conflict that allows us to select which one we want to use
3. A checkbox for each conflict that says something along the lines of "If there are no changes to the available pathmaps for this conflict, do

[2022-07-12 14:47] ysroh commented on #376
I was able to fix this issue by modifying the Papyrus code. I will try to see if there is a way to override the current behaviour, but it is most likely that we have to create a separate patch for this fix.

[2022-07-12 21:44] eposse opened #410 "[DDK] Empty "Add CX" menu when editing meta-models and exceptions"
# **Issue and tracking information**

This issue does not affect end-users, only Papyrus CX developers editing the meta-models.

Steps to reproduce
-------------------------

1. Open a meta-model in Papyrus (e.g. DDS4CCM),
2. In the Model Explorer, right-click on a Package element
3. In the context menu, the "Add CX" option appears; select this option
At this point, the sub-menu appears empty.

Ex

[2022-07-12 21:53] eposse opened #411 "[DDK] "Create Actions" from the "Add ZDL" menu do not add ZDL stereotypes"
# **Issue and tracking information**

This issue does not affect end-users, only CX developers editing meta-models.

Steps to reproduce
--------------------------

1. Open a Papyrus CX meta-model (e.g. DDS4CCM)
2. Right-click on a package
3. Select "Add ZDL -> Domain Concept" (or any other item in the sub-menu)

Expected result
--------------------
A UML Class element with the `<<DomainConcept>>`

[2022-07-14 15:21] ysroh commented on #376
After the investigation, I concluded that there is no way to override the default Papyrus behaviour for the Profile tab. Paul will shortly add the URL for the one-time patch to fix this issue. Let us know once the patch is verified. Thanks

[2022-07-14 15:57] elder4p commented on #376
@j26151 : I've done a test build with the Papyrus patch. It is currently on my papyrus fork.

https://github.com/elder4p/CX4CBDDS/actions/runs/2671330058

Important details:
* the papyrus-cx-axcioma RPM and Product downloads already include the patch. If you are using these, removing the previous installation and reinstalling should install the patch. (The RPM may already remove the old image when

[2022-07-14 17:50] j26151 commented on #376
This looks good to me. I pulled down the RPM in the link above to test.

[2022-07-15 12:51] ysroh commented on #376
Thanks for verifying.

[2022-07-15 16:06] elder4p commented on #376
Fixed by #412

[2022-07-29 16:43] ysroh commented on #409
Is it possible to test this feature using the "papyrus_bugfix" branch?

This is the dialog for conflict pathmaps and users will be able to suppress future warnings as long as there are no new mappings introduced for the same pathmap.
![image](https://user-images.githubusercontent.com/896503/181803899-eb554260-c732-470c-a5dd-ef0f318ea5ba.png)

Users will be able to choose the mapping from the URI m

[2022-07-29 16:52] j26151 commented on #409
A few things:

1. I am all for testing tickets using alternative "bug fix" branches before pushing in larger tickets.
2. I would like to see what happens when we see multiple pathmap conflicts. One of the things we want to see is a single dialog that lists all pathmap conflicts when they are recognized. That way the user doesn't have to keep making selections and then new dialogs keep popping up f

[2022-07-29 16:55] j26151 opened #415 "Model Merge Performance"
# **Issue and tracking information**
The model merge tool in papyrus can be unresponsive.

Clicking on any UI item within the top-right pane caused a significant delay (on the order of a minute). I could see a process moving from core to core with 100% utilization.

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provid

[2022-07-29 17:24] ysroh commented on #409
Thanks for the input.
Please see the comments in-line.

ys] ok thanks

ys] See the answer to question 3.

ys] I will add the mapping selection combo box right in the warning dialog for the pathmap so users can select the mapping when they appear.

I will make this change and let you know when it is ready.

[2022-07-29 17:41] j26151 commented on #409
One quick comment to. When I say "multiple pathmap conflicts", I mean for literally different pathmaps altogether. So, for example, we might have a model "ModelA.uml" with a pathmap "MYPATHMAP". Then we have a totally different model "ModelB.uml" with a different pathmap "DIFFERENTPATHMAP". If somehow I have conflicts for both of those, currently we get a dialog for the conflict for ModelA, and th

[2022-07-29 18:13] ysroh commented on #409
The changes are coming continuously from the Eclipse workspace change listener so we do not really know when to open the dialog for all warnings. You may get several events coming in separately or together containing multiple pathmap changes.

[2022-07-29 18:17] ysroh commented on #409
We can do the one dialog IF the mapping is done once at the start up and triggered by the "remap" button any other time. This means that no automatic pathmap activation when you drag or import a new project into the workspace.

[2022-07-29 18:30] ysroh commented on #409
I will experiment with something so that at least one dialog is open for all changes during the initial start-up, but might not guarantee this when multiple projects are brought into the workspace. I will let you know when I have something to show.

[2022-07-29 19:38] ysroh commented on #409
I can make one dialog but the catch is that I cannot know which pathmaps are once that are newly added so I have to show all pathmaps that have multiple mappings in the dialog. Is this acceptable??

[2022-08-01 10:45] j26151 commented on #409
That looks better. My next question would be what the pathmap the bottom check box is referring to? My guess is pathmap://PATHMAP222, but it might be nice if the table had a new column with checkboxes or true/false for whether or not to suppress warnings

[2022-08-01 12:40] ysroh commented on #409
I am making changes so that only new conflicts that are not suppressed will show up on the dialog. There are quite a bit of code changes since we are now keeping multiple path mappings in order to support changes between multiple mappings. I will let you know when things are ready so you can test them.

[2022-08-02 16:58] j26151 opened #416 "Incorrect Referenced Models paths"
# **Issue and tracking information**
We are seeing an issue where pathmap paths are replacing actual model resource paths in the SDK GUI upon starting up a workspace and first opening a model. After closing the model and then reopening it the problem is solved. However, if any changes are made to the model and it is saved, this pathmap issue is retained.

### Developer's time Estimated effort to f

[2022-08-02 17:20] ysroh commented on #416
Do you see this issue for models that are left open from the previous workspace session?

[2022-08-03 21:35] eposse commented on #400
@MHayman5 @j26151 @J17359

I've opened PR #417 implementing this enhancement. You can download the build from [here](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/2789421975).

This implements the concepts described by Paul above:

* A new "DomainDefinition" concept
* A new "DomainDeployment" concept

A DomainDefinition, like the old "Domain" can have node/bridge/interconnect instances, wh

[2022-08-04 15:48] ysroh commented on #409
Here is the pull request: https://github.com/ZeligsoftDev/CX4CBDDS/pull/418
A new column is added for the suppressed warning state.

[2022-08-08 14:10] ysroh commented on #409
Thanks. I will take a look at the issue.

[2022-08-08 14:31] ysroh commented on #409
I did not reproduce the same issue you described. I think it might depend on how those projects are imported. I imported all of them together via File->Import-> Import existing project and selected the root folder that contains all sub folders.

![image](https://user-images.githubusercontent.com/896503/183442277-1ce07370-e03a-4ef2-bf5f-327517aa48a2.png)

Can you please describe steps to import tho

[2022-08-08 14:32] j26151 commented on #409
Import the Original non-numbered projects first. So ProjectA, ProjectB, and ProjectC. Then, import the other 9 after that.

[2022-08-08 14:36] ysroh commented on #409
Ok. I was able to reproduce it.

[2022-08-08 15:17] ysroh commented on #409
@j26151 Can you please check to see if the issue is fixed?

[2022-08-08 17:47] J17359 opened #419 "Tag streams/v2.1.x-maintenance for Zeligsoft CX 2.1.1 release and roll branch to 2.1.2"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**

Our program would like to release with your latest hash from the streams/v2.1.x-maintenance branch. Could you please tag that hash for an officially supported release (2.1.

[2022-08-08 18:18] j26151 commented on #409
Everything else looks good to me. One last thing however. When the current mapped pathmap is removed, it looks like CX just picks what dynamic pathmap it will use instead. Can we instead show the same dialog with CXs suggestion as the current value? This way the user could select something else

[2022-08-08 18:45] ysroh commented on #409
Absolutely, I will work on it and let you know.

[2022-08-08 19:20] eposse commented on #415
I haven't been able to reproduce the performance issue with the model reproducer provided, but I did ran into an error: when merging "feature_branch" onto "conflicting_branch", it works (and quickly), but when merging "conflicting_branch" onto "feature_branch" it throws an internal EMF Compare error, and does it relatively quickly (after around 4 seconds).

I tested with a build from last Friday (

[2022-08-08 20:47] ysroh commented on #409
Done. I will merge the pull request after code review if no other issues are found.

[2022-08-09 00:06] elder4p commented on #419
- [x] Tag v2.1.1 created.
- [x] Release created. [Link](https://github.com/ZeligsoftDev/CX4CBDDS/releases/tag/v2.1.1)
- [ ] Pull Request updating to 2.1.2 (pending)

[2022-08-09 09:52] J17359 commented on #419
Thanks for the super quick turnaround @elder4p !

[2022-08-09 12:12] J17359 commented on #419
@elder4p were the two issues under "What's Changed" on that release page just the big ticket items? The "Full Changelog" shows more than those two issues in the commit history. Should all those be listed under "What's Changed"?

[2022-08-09 13:28] elder4p commented on #419
@J17359 : You're right. Github offered the What's Changed list. I removed one issue from it (bumping the version numbers), but I did not look at the full change log. Clearly, the automated process didn't do what I expected. I'll go through the full change log manually, and pull out the issues that look like they are pertinent.

[2022-08-09 13:41] elder4p commented on #419
@J17359 : Updated the list to link to all tickets resolved in the release. This is still different from the full change log, as it shows all commits, pull request merges, etc. Not quite the same thing.

Let me know if this is OK.

(I still don't know why the 'generated' release notes where so sparse. Lesson learned: don't count on it working.)

[2022-08-09 14:33] J17359 commented on #419
Yeah I think that looks a lot better. I didn't expect the commits, PR merges, etc. to be in the list, only the ticket IDs which it looks like you got now. Thanks @elder4p ! Very weird that the autogenerated version didn't work, I agree.

[2022-08-10 12:26] j26151 commented on #409
I do understand the need for the right dialog now after actually reading it. Although we would want those consolidated as well. So maybe the above can become 2 dialogs instead of 4?

[2022-08-10 13:01] ysroh commented on #409
Yes. I didn't think of that case. I will look into it and let you know.

[2022-08-10 22:47] eposse commented on #415
Ok, I've found a problem that seems like the performance issue but I don't know if it is the same as the original reporter experienced. Would it be possible to confirm if the performance problem occurs when the following steps are performed?

1. Import the project into the workspace
2. Check out the feature_branch
3. Check out the conflicting_branch
4. In the git view, right-click the feature_bran

[2022-08-10 22:51] eposse commented on #415
And also, can we get confirmation of which is the version of CX used? Is it the latest?

Thanks

[2022-08-11 12:08] j26151 commented on #415
I am reaching out to the engineer that reported this problem to see if I can get more information. They were using the 2019 version of Papyrus and probably the latest CX for that version. We will not be testing the 2020 version out much until the end of the year.

[2022-08-11 13:52] ysroh commented on #409
I've started the pull request for this fix. https://github.com/ZeligsoftDev/CX4CBDDS/pull/421
Can you verify that the fix works on your side?

[2022-08-11 17:56] j26151 commented on #409
I was seeing all kinds of different behavior. The first time I tried to import a few more models with conflicting pathmaps, my eclipse hung for a few minutes. The second time, when I tried to remove some projects that were the current pathmaps, I still got all of the disparate dialogs . Also, I got this NPE:

![image](https://user-images.githubusercontent.com/49879646/184204889-c85cd424-be1f-4429-

[2022-08-12 03:28] ysroh commented on #409
I've made some changes to make it more robust.
You will notice some delays when you import or remove dynamic models to consolidate all possible event sequences.
Can you please verify this?

[2022-08-12 15:12] ysroh commented on #409
I think things are working much better now :)

[2022-08-15 12:21] j26151 commented on #409
When I delete 2+ projects each containing a pathmapped model in one delete operation, I still receive multiple dialogs for the pathmaps:
![image](https://user-images.githubusercontent.com/49879646/184634158-ec5e9bed-199d-46cd-bcb8-49908e399a82.png)

[2022-08-15 14:13] ysroh commented on #409
The only way to consolidate dialogs is to wait for the next event. What is the optimal delay to wait for the next event is unknown. If you wait longer then you are guaranteed to get one dialog but the Eclipse will freeze for a longer period. If you set a shorter delay then you might get multiple dialogs if an event process time takes longer than the delay period.

I added new field in the URI mapp

[2022-08-16 11:52] j26151 commented on #409
This looks great to me.  I think we should set the value to  1 second for now. 1 second worked for me. If our users have issues with 1 second we can revisit it later. The last fix I would ask for is that the
![image](https://user-images.githubusercontent.com/49879646/184873056-363ce813-dade-4358-b9af-f582f7e8e63e.png)
"Open URI Mappings preference page for all pathmap list" changed to "Open URI Ma

[2022-08-16 13:44] ysroh commented on #409
All done and merged.

[2022-08-16 15:38] ysroh commented on #416
I reproduced this problem. The dynamic pathmap works by manipulating the EMF URI mappings feature, which is all about mapping directories. Unfortunately, Papyrus or possibly EMF does not seem to have deterministic result loading references to another model in the same folder if it is path mapped. So I recommend users put the path-mapped model in a separate folder rather than mixing it with other m

[2022-08-16 15:41] j26151 commented on #416
I don't think this is a solution that will work for our users. We have project that contain a set of models, both ICMs and non-ICMs. It would require re-organizing of staple repos that users are used to seeing.

The only time we see this problem is on startup of eclipse. After opening/closing a model, it appears to resolve it self. Is there no way to cause eclipse to automatically "re-figure thing

[2022-08-16 15:48] ysroh commented on #416
Let me investigate more to see if we can do something about this.

[2022-08-16 15:51] j26151 commented on #416
Thank you. We are open to suggestions, I just don't know that changing our folder structure to have different folders for each ICM is one that our program and product management will go for

[2022-08-16 18:00] j26151 commented on #400
Sorry for taking so long to get around to reviewing this. This looks really good, thank you for your hard work here. We have a few small fixes and changes that we would like as well as a (hopefully) small feature improvement.

To start with some of the small changes:

1. Copy and paste of a DomainDeployment doesn't appear to work completely. It creates a new DomainDeployment with 0 entries, so we

[2022-08-16 20:15] eposse commented on #400
Hi. A couple of questions for clarification:

1. Within a DomainDefinition, every time you create a new DomainDeployment, it will automatically inherit the nodes, etc. from the DomainDefinition, so there is no need to copy and paste a DomainDeployment to the same DomainDefinition. Therefore, I assume that you are attempting to copy and paste DomainDeployments between different DomainDefinitions. I

[2022-08-16 20:38] j26151 commented on #400
This use case is just for copying DomainDeployments within a DomainDefinition. This could be useful in cases where we have many IP addresses or ports that are the same, but need small tweaks. We do not need to copy DomainDeployments from one DomainDefinition to another.

Root level, yes. Also any other level in the hierarchy that isn't an actual Deployment Plan or DomainDeployment  (just like gene

[2022-08-16 20:57] eposse commented on #400
Ok I see. I do see that copy-and-paste is not working, but I'm observing a different behaviour. When I copy a DomainDeployment and paste it, at first it appears as if nothing happened, but the copy appears once you edit something else in the model. This is not good. Nevertheless, the copy does have the copy of the contents of the original.

To try to reproduce what you are seeing, how exactly are

[2022-08-17 20:04] ysroh commented on #416
Can you please test the "papyrus_pathmap" branch? This fix contains quite a bit of code refactoring to make this work. Please try dynamic pathmap use cases in general, not limited to the issue described in this ticket.

[2022-08-17 23:06] eposse commented on #415
Another thing to ask to the engineer that reported the issue is *when* the performance issue happens. There are several points where it can happen:

1. When doing a simple compare (no merge)
2. When merging branches

Within these, there are further possibilities:

a) the time between the user initiating the action and getting a dialog stating that there was a conflict or a successful diff/merge
b)

[2022-08-18 15:18] j26151 commented on #400
To try to reproduce what you are seeing, how exactly are you copying and pasting? With the keyboard [Ctrl]+[C] -> [Ctrl]+[V], with the context menu? by drag-and-drop?

I did see the same behaviour with needing to edit something else in the model, but I thought maybe it was something else in my environment. When I copy using Ctrl + C -> Ctrl + V, the new domain is missing "parts"
![image](https://u

[2022-08-18 15:27] j26151 commented on #400
Btw, this occurs with using the context menu as well (copy and paste). I have not tried drag and drop.

[2022-08-18 15:31] j26151 commented on #400
They appear in the model explorer, but if I click on one of them, its empty and I cannot set an ip address or port:
![image](https://user-images.githubusercontent.com/49879646/185434733-8d6fdb35-b2b0-4340-b22d-119b43790a45.png)

[2022-08-18 15:31] eposse commented on #400
Ok, I see. I'll look into it. Thanks.

[2022-08-18 23:01] eposse commented on #400
There are two immediately observable behaviours which are incorrect when copying and pasting DomainDeployments. The first is that the "parts" of the DomainDeployment stereotype are not copied most of the time (although I observed that one time they were copied, so it may be random). The second is that the DomainDeploymentPart stereotypes of the parts are not copied for the contained parts (nodes,

[2022-08-19 15:11] j26151 commented on #409
I have verified this on our end. Thank you

[2022-08-19 15:38] ysroh commented on #409
Thanks

[2022-08-19 15:38] #409 closed

[2022-08-19 17:25] j26151 commented on #416
Initial testing shows that the original bug is fixed, but now some of our production code that has multiple dynamic pathmap references in a hierarchical structure is not working. I do not have a reproducer that we can share at the moment, it will take some time to create this, but from what I can tell, something is broken by this change.

[2022-08-19 17:35] ysroh commented on #416
I think the reason is that saved mapping is lost since the mapping registry moved to a different plugin. I might have to create a migration for this. Please verify that everything works once you set the mapping again.

[2022-08-19 18:00] ysroh commented on #416
I will make some changes and let you know when it is ready.

[2022-08-19 18:44] ysroh commented on #416
I found out that the mapping selection wasn't saved properly, and it is fixed now. Hopefully, that's the cause of the problem you are seeing. Let me know if you still have an issue with the latest change, and the reproducer would be helpful.

[2022-08-19 19:03] ysroh commented on #416
Here is the pull request: https://github.com/ZeligsoftDev/CX4CBDDS/pull/422

[2022-08-19 22:28] eposse commented on #400
More details:

There are slightly different problems that occur when copying and pasting, in two scenarios: when copying and pasting the first time, and when pasting a second time without re-copying first. The end result is the same, with parts and stereotypes missing, but Internally the behaviour is actually different.

In all cases the problem arises from our PasteStrategy `com.zeligsoft.domain.

[2022-08-20 01:47] ysroh commented on #400
The assumption was valid for CX until the new stereotype was introduced. You are welcome to modify the code to fix the issue.

[2022-08-20 14:01] j26151 commented on #416
From what I can tell, everything seems to be working correctly right now. I did have a few errors when opening models that were complaining about missing references when using an existing workspace. After refreshing a few times, opening the models a few times and getting to a state where everything was happy, I couldn't reproduce it again. I will chalk those errors up to just being a weird workspa

[2022-08-22 12:19] ysroh commented on #416
Thanks. The pull request is merged.

[2022-08-23 14:20] ysroh commented on #419
Can we close this ticket?

[2022-08-23 14:20] ysroh commented on #416
Closing this ticket

[2022-08-23 14:20] #416 closed

[2022-08-23 14:23] J17359 commented on #419
I think we're still waiting on the PR to be merged: https://github.com/ZeligsoftDev/CX4CBDDS/pull/420

[2022-08-23 15:09] j26151 commented on #415
We have not had anyone attempt to reproduce any of the results or questions that you have had, but we are working on finding someone to look at this.
I received some feedback from our engineer that reported the issue. They stated that the issue you mention above in (c) is one of the more impactful performance issues that they saw. Having this fixed would be a huge improvement.

On a related note,

[2022-08-23 15:15] elder4p commented on #419
Fixed by #420

[2022-08-23 15:15] #419 closed

[2022-08-23 15:29] eposse commented on #415
I'll focus on item (c) then.

As for general performance issues, I personally don't have an opinion as I haven't used ACXIOMA on RSA, but perhaps @ysroh or @elder4p have an opinion. They are both based on EMF indeed, so it is quite possible that any loss of performance may be due to Papyrus. I don't know how much IO is done when modelling, but @ysroh might have a better idea. We might have to open

[2022-08-23 16:42] ysroh commented on #415
@j26151 Can you please raise a separate ticket for the general performance issue? One of the major slowdowns during the model open stage is to check model migration status, broken reference checks, and pathmap checks on the fly rather than via separate actions. They take up about 50% of the running time of model open action. We could improve slightly but not much as long as we want to check model

[2022-08-23 17:42] j26151 opened #423 "Overall Performance issues with Papyrus Modeling"
# **Issue and tracking information**
Papyrus/CX as a whole feels slower than CX on RSA. No doubt these are significantly different tools at this point but our users have shown frustration with this. I would say on a whole, the median time to perform actions seems to be over 2x longer, especially as model size and complexity grows. This includes adding elements, renaming elements, modifying them, e

[2022-08-23 17:44] j26151 commented on #415
#423

[2022-08-24 20:31] ysroh commented on #423
Can you use the "papyrus_profile" branch to reproduce the problem? I've made some improvements by getting rid of calls to old Xtend to configure some elements and replacing them with advice bindings to the element types. It should be much faster to create some elements especially Deployment Plans, Arrays, etc.

[2022-08-24 20:31] ysroh commented on #423
https://github.com/ZeligsoftDev/CX4CBDDS/pull/424

[2022-08-25 12:10] j26151 opened #425 "Change modeling tool to only allow plain text when copying into documentation fields"
# **Issue and tracking information**
It's very common to copy and paste documentation worked in a confluence(Wiki website that NGC uses) page.  This introduces significant invisible whitespace changes that are a lot of work to change.  Best way to fix it is modifying the XML of the model itself.  Update the modeling tool to only allow plain text when copying and pasting into documentation fields.

[2022-08-25 12:16] j26151 commented on #423
Thank you @ysroh for your work here. I will try to get to testing this soon, but I can't make any promises.

[2022-08-25 16:44] j26151 opened #426 "Null Pointer Exception When Saving a Model."
# **Issue and tracking information**
I don't have a special reproducer for this issue, but basically, when making some number of changes to a model and then saving it, we randomly get a null pointer exception and a message that says "Save Failed", even though the save does appear to have succeeded. Our users get very worried that their data isn't being saved. We would like to guarantee that the fi

[2022-08-25 16:58] eposse commented on #426
This one looks related to Issue #390. Did you get this error with the most recent version or was it with an earlier, before we merged Pull Request #403?

[2022-08-25 17:05] j26151 commented on #426
I got this error with papyrus built with the newest hash on the papyrus branch: https://github.com/ZeligsoftDev/CX4CBDDS/commit/77e92e9f61dec7181ab17cea2bb1638906a1dde5

[2022-08-25 17:10] eposse commented on #426
Ok, so this is new. I'll investigate. It could be that like other NPEs it may be harmless, and if such, we can suppress it with the mechanism introduced by Pull Request #403. But I'll check that saving is working correctly first.

[2022-08-25 17:11] eposse commented on #426
One more question, which one should have higher priority, this issue or #415?

[2022-08-25 17:12] j26151 commented on #426
This issue as it hopefully has a faster turnaround. But if it is taking you a while to diagnose we can reconsider.

[2022-08-25 17:13] eposse commented on #426
Ok.

[2022-08-26 00:35] eposse commented on #400
@j26151 Ok, I've addressed all issues and it is working now (including copy-and-paste) and the menus as requested. You can get the rpm [here](https://github.com/ZeligsoftDev/CX4CBDDS/suites/7990155442/artifacts/342122206). Let me know if it addresses everything.

[2022-08-26 02:27] ysroh commented on #400
I wonder what causes the problem with copy/paste, but I would be cautious that the new fix does not cause any problems during the cross-model copy/paste. You should be able to copy the object from one model and paste it onto another model.

[2022-08-26 14:58] eposse commented on #400
The problem with copy and paste was that the code had a long-standing assumption that elements would have only one stereotype and I had introduced an additional stereotype to deal with an issue in the code generator. The new fixes remove the new stereotype and update the code generator so that it can work without it. Copy and paste works now in the latest fix.

[2022-08-26 16:11] j26151 commented on #423
I have verified that the actions that you called out above are now significantly faster. This is a great start and hopefully we can identify other performance issues that you might be able to improve. I will try to play around with making and modifying assembly diagrams to see if there is anything there that is slow. A lot of the performance woes are always reported well after they occurred from o

[2022-08-26 17:50] ysroh commented on #423
Yes. I will do that. I suspect that the model merge is taking a long time when instantiating a template.

[2022-08-26 17:58] j26151 commented on #423
The model merge? This shouldn't have anything to do with EMF Compare or model merging via. git?

[2022-08-26 18:01] ysroh commented on #423
Sorry for the confusion. I meant the internal model merge which has nothing to do with the EMF model merge. The better words to describe it would be model copier with cross reference resolver.

[2022-08-26 22:52] eposse commented on #426
I haven't been able to reproduce this one yet, but the Papyrus code strongly suggests that this exception occurs *after* the model has been saved. But there may be other consequences that are not entirely clear, as the code that doesn't get executed tells the command stack that the save is done, and informs listeners that the dirty status of the file changed.

It's not clear why the exception occu

[2022-08-29 12:47] ysroh commented on #426
I suspected that this issue might be related to resources that are loaded in multiple editors. I wasn't able to reproduce the exact same exception but I do see other exceptions when trying to work on a model that has an editable reference model and the referenced model is also open in another editor. These are known issues as the Papyrus does not handle these cases very well and that's why editing

[2022-08-29 12:51] j26151 commented on #426
@ysroh Didn't we just recently enable the ability to edit the referenced model via. a dependent model? I believe this is something that our users want to be able to do. Unless of course I am thinking of something else.

[2022-08-29 13:00] j26151 commented on #426
@ysroh is probably right with his suspicion. The model where I saw this issue was a model that references other ICMs in our workspace.

[2022-08-29 13:01] ysroh commented on #426
Correct, We enabled this recently and know that this will cause exceptions if the referenced model is also open and you work on both models. If this capability is a feature needed for all end users then we just need to educate them well about the limitation so they do not open referenced model if the model is already loaded in the current model as a reference. but if this feature is really needed

[2022-08-29 13:05] j26151 commented on #426
I don't believe I had any other model open when I saw this issue, only the top level model. I know other people have seen this issue before which is why I wrote the ticket without a specific reproducer. I would say almost every user will want this capability so having it be an option isn't the best choice here.

If I am wrong, and this issue can only be reproduced when opening multiple models wher

[2022-08-29 13:12] ysroh commented on #426
I see. If you only had one model open then this issue is not related to the editing capability. It might be just another exception that we might want to filter out. I am very worried that users will see exceptions without knowing that they had multiple models open. It's not just for the ICM models since you can reference another model if the other model is located in the same project and users wil

[2022-08-29 13:14] MHayman5 commented on #426
The ability to edit a referenced model was explicitly added by issue #368 back in April 2022 as a desired and standard workflow improvement.  Lots of discussion and rationale there.
https://github.com/ZeligsoftDev/CX4CBDDS/issues/368

[2022-08-29 13:22] ysroh commented on #426
Understood. We will try to filter out all unwanted exceptions that do not impact the model since I really don't like to see the exceptions. @eposse Can you filter out this exception without reproducing it?

[2022-08-29 13:26] ysroh commented on #426
And I know that most exceptions do occur during the reloading stage after saving is done.

[2022-08-29 15:12] eposse commented on #426
I've opened PR #427.

[2022-08-29 16:18] eposse commented on #400
I'll investigate.

[2022-08-29 16:43] j26151 commented on #400
I was able to recreate it. I found a way to get a larger stack trace:
![image](https://user-images.githubusercontent.com/49879646/187251750-b18eebbe-b5c4-47a9-b5f5-6c1c4fda3be2.png)
It appears to happen anytime there are delegated ports on assemblies.

[2022-08-29 16:53] eposse commented on #400
Great! And just to confirm, this exception does occurs only with the version from this PR, but not with the main papyrus branch, is that right?

[2022-08-29 17:02] j26151 commented on #400
Good point. I just downgraded my version to one that is the latest from the main papyrus branch. The issue is still happening. It appears that this issue does not have anything to do with your branch, rather its a bug that has been hanging around for who knows how long. I know for a fact the maintenance stream does not have this issue. I do not know when this issue was introduced, but it is a show

[2022-08-29 17:10] eposse commented on #400
Ok, so perhaps we could have a separate issue for that? Hopefully with a small reproducer model, as I am unsure how to create delegated ports.

It's possible that the duplicated properties in the deployment plan happens only with this branch, so I'll investigate that as well.

[2022-08-29 17:16] j26151 commented on #400
To delegate a port, all you do is create an assembly with a port on it that is the same port as a component inside of the assembly. Connect the two, and you get an assmebly that delegates its ports to an internal component:
![image](https://user-images.githubusercontent.com/49879646/187256791-76a91ead-9018-48bf-99b6-9219cb37fc25.png)
and
![image](https://user-images.githubusercontent.com/49879646/

[2022-08-30 15:24] ysroh commented on #423
I tried to profile all other actions by creating the basic pubsub model from the scratch and I concluded that there are no other performance fixes are necessary. Instantiating the connector library takes longer because the tool needs to copy all elements from the template library, set all property values, and fix all references within the instantiated connector. I wasn't able to find any places wh

[2022-08-30 15:26] j26151 commented on #423
Some of our users have mentioned that instantiating a connector in 1.X with RSA was closer to instantaneous. I haven't verified that, but do you know why Papyrus would struggle so much more with this? At the end of the day I would expect the copy and updated references to be fast unless the individual operation of "updating a reference" to take 1 second, making 30 updates take 30 seconds.

[2022-08-30 15:29] ysroh commented on #423
It seems to take about 4 secs to instantiate the DCPS connection library on my laptop which is running Core i5. Maybe I will try to profile the same action in RSA to compare.

[2022-08-30 15:56] ysroh commented on #423
I couldn't attach the profiler to RSA, but the running time seems similar between the two. Using the same environment, RSA takes about 6 seconds to instantiate for the first time and 3 seconds afterwards. Papyrus takes about 7 seconds for the first time and 3.5 seconds afterwards. Papyrus is slightly slower, but I didn't find noticeable difference between the two.

[2022-08-30 16:00] j26151 commented on #423
I am seeing the same behavior as you when instantiating the connector in a relatively small model like our BPS example. However, in a significantly larger model, I just tried twice and saw times around 25 seconds. This was on a build from the papyrus branch. I can install your papyrus_profile build and see if there is a difference but it appears that the size of the model affects the time it takes

[2022-08-30 16:02] ysroh commented on #423
I see. I don't think the new branch will do anything. I will try to make a bigger model unless you can provide a reproducer in the private repo.

[2022-08-30 16:05] ysroh commented on #423
Ok. I used the old ArtGallery model and it takes a lot longer there. I will investigate what's taking so long.

[2022-08-30 16:06] j26151 commented on #423
I don't have one that I can send at the moment. At some point I would like to see us create a set of large models that have pathmaps between them so that we can reproduce these issues more easily.  Our production models tend to have 50+ message definitions, 20+ components, and many assemblies. Then we have models that build off of these models.

What would be interesting is if we had a java API th

[2022-08-30 16:06] j26151 commented on #423
Glad you were able to recreate with the ArtGallery

[2022-08-30 16:35] ysroh commented on #423
I see the same slow running time on RSA using the ArtGallery model as well. The problem is not introduced in Papyrus. Nevertheless, I will try to debug this to see if I can improve the performance.

[2022-08-30 18:14] ysroh commented on #423
Can you try it again to see if the performance issue is fixed?

[2022-08-31 14:27] ysroh commented on #423
I found inefficient code related to the Deployment listener and improved it. Let me know if you find any other performance issues. Otherwise, I will close this issue once you verify the fix.

[2022-08-31 16:18] j26151 commented on #423
Everything looks good here. I tried out as many random operations that I could think of.
Specifically, for instantiating connectors in our production model, I was seeing 25 seconds before your fixes, and now I see 12s and 8s for 2 instantiations. This is much better than it was.

I am happy with the progress made here. Hopefully when we can release this to our users they won't have any more concer

[2022-08-31 18:57] ysroh commented on #423
Sounds good, thanks.

[2022-09-01 10:35] j26151 commented on #400
@eposse  I see you pushed some commits up a few days ago, is there anything you would like me to test for this?

[2022-09-01 14:38] eposse commented on #400
Hi @j26151. Those commits don't yet fix the code generation issue. They addressed some concerns Young-Soo had about copy and paste.

I have found the cause of the code generation issue, and it was a regression that happened when we dealt with issue #397. Delegated ports was a case that we didn't consider when dealing with that issue.

I also have a solution, but I'm not yet certain it covers all c

[2022-09-01 16:38] ysroh commented on #423
Merged

[2022-09-01 16:38] #423 closed

[2022-09-01 21:37] eposse opened #428 "Regression in descriptors generation"
# **Issue and tracking information**

If an assembly has nested parts and delegated ports, descriptor generation (from DeploymentPlans) raises an NPE.

See the attached model.
[axPubSub.zip](https://github.com/ZeligsoftDev/CX4CBDDS/files/9473560/axPubSub.zip)

### Developer's time Estimated effort to fix (hours):

### Developer's Actual time spent on fix (hours)

# **Issue reporter to provide a de

[2022-09-01 21:38] eposse commented on #428
This was first observed in Issue #400. See  [this comment](https://github.com/ZeligsoftDev/CX4CBDDS/issues/400#issuecomment-1230562374).

[2022-09-01 21:39] eposse commented on #400
I've opened Issue #428 to deal with the code generation regression. See the comments there.

[2022-09-01 21:40] eposse commented on #428
The regression occurred with the solution of Issue #397, as we didn't consider nested parts and delegate ports in that solution.

[2022-09-01 22:19] eposse commented on #428
I've opened Pull Request #429. It prevents the NPE, but I think it doesn't fully solve the problem, as I think it doesn't filter certain properties that should be filtered if the defaults on the connector's properties are modified.

For example, in the model provided, there is a connector called "MyMessage_conn", and three deployments "SimpleApp", "ComplexApp" and "ReallyComplexApp". SimpleApp is

[2022-09-02 10:37] j26151 commented on #428
@eposse I think we should hold off on this PR until we have this fully solved. Yes, your expect CDP files are what I would expect to see. It may be helpful to also add in properties on the "_conn" like domain_id, qos_profile, or topic_name as those should not be filtered and should be available on both publishers and subscribers

[2022-09-02 15:13] eposse commented on #428
I'll add those properties to double check they are not filtered.

I think I know what needs to be done to fix the nested cases. The commit in the PR just addresses the NPE, so we'll need it, but I'll only merge the PR once the other codegen cases are covered.

[2022-09-07 22:43] eposse commented on #428
@j26151 I finally got it fixed. There should no longer be an NPE when using delegated ports and the CDP files correctly filter the properties.

You can get the build from [here](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/3011188704).

Let me know. Once this is checked, I can merge it into the branch for Issue #400.

[2022-09-08 12:49] j26151 opened #430 "Any model with Dynamic Pathmap set becomes read-only after generating IDL or descriptors"
# **Issue and tracking information**
This only occurs in the streams/v2.1.x-maintenance version of CX.

When generating IDL or descriptors on an open model that has a dynamic pathmap, the model becomes read-only immediately after the operation finishes. The only work around is to close and reopen the model each time and try to save all "generations" until you are done making all changes with the m

[2022-09-08 14:59] eposse commented on #428
Verified and approved by Paul as well. I've merged the PR, so we can close this one.

[2022-09-08 14:59] #428 closed

[2022-09-12 14:11] j26151 commented on #400
@eposse Have you been able to get around merging/rebasing this branch? If so I can build and test it to close this out (or at least provide more feedback)

[2022-09-12 19:05] eposse commented on #400
@j26151 There was indeed a conflict with the code committed for dealing with Issue #423, but I've been able to merge it. Testing it looks good, but there is still a problem. When selecting an element in the Deployment editor, the properties view is incorrectly rendered, and shows the "Properties" field twice, sometimes one below the other, sometimes at its side, as shown in the screenshot below. I

[2022-09-13 13:30] ysroh commented on #400
I get the following exception and this will cause the properties view to be corrupted and it will not render it correctly after the exception.
!STACK 0
java.lang.NullPointerException
	at org.eclipse.uml2.common.util.CacheAdapter.getCacheAdapter(CacheAdapter.java:249)
	at com.zeligsoft.base.zdl.util.ZDLUtil$ZDLConceptInfo.ensureCacheAdapter(ZDLUtil.java:3100)
	at com.zeligsoft.base.zdl.util.ZDLUtil

[2022-09-13 22:06] eposse commented on #400
I've resolved the NPE, and while the properties view is not "corrupted" anymore, the properties are still duplicated. See the screenshot. I'll keep investigating.

![Screenshot from 2022-09-13 18-05-14](https://user-images.githubusercontent.com/3011155/190017850-7f506448-74ea-4450-943d-1c9c94356219.png)

[2022-09-15 22:06] eposse commented on #400
@j26151 I've resolved the duplicate properties view issue and it's ready for you to test. I think it now addresses all issues.

You can get the RPM from [here](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/3063756448).

[2022-09-16 19:16] ysroh commented on #430
@j26151 Would you be able to verify this fix on your side? https://github.com/ZeligsoftDev/CX4CBDDS/pull/431

[2022-09-19 13:43] j26151 commented on #400
@eposse I tested a good amount and for the most part everything looks good. I did notice a new bug that I believe is related to this branch of work (i.e. it did not appear on the HEAD of papyrus: https://github.com/ZeligsoftDev/CX4CBDDS/commit/248e98795af690ea16248c5bac3b8220cba968ed)

When I open any assembly diagram that has an assembly inside of it, I get errors from eclipse trying to navigate

[2022-09-19 17:09] eposse commented on #400
Hmm. I am not able to reproduce it. First, I'm not sure we have the same BasicPubSub, as the one I have, from the git repo, has no "context" diagram. See the attached screenshot.

Nevertheless, I tried it with another model that has nested assemblies, (see the attached model), and I am able to double-click on parts whose type is an assembly and navigate to them without trouble, and no exceptions.

[2022-09-19 17:12] j26151 commented on #400
Its likely that you have an older version where we didn't have composite structure diagrams created yet. If you create a new composite structure diagram for BasicPubSub_asm_context, it should contain inside of it a single assembly for BasicPubSub_asm. If, in the diagram itself you double clicked on the BasicPubSub_asm, this is where I would see the issue.

[2022-09-19 17:24] eposse commented on #400
Still can't reproduce it. Here's what I did:

1) started CX on a new workspace
2) imported (copying) BasicPubSub
3) opened and migrated the model and saved
4) navigated to assemblies/BasicPubSub_asm_context; right-click -> New Diagram -> Composite Structure Diagram; saved
5) the diagram is open; double-clicked on the only part in the context assembly.

Result: it opened the BasicPubSub_asm diagram

[2022-09-19 18:18] j26151 commented on #400
I was certainly on the latest build from this branch, but not a fresh workspace. In any case, I can no longer reproduce the problem either. Papyrus must have just gotten in a bad state and needed a restart. I think for the time being we can approve and merge this issue in and if we see this issue crop up again we will have to try to come up with a more reliable reproducer for it.

[2022-09-19 18:23] eposse commented on #400
Great! Thanks. I'll merge it then.

[2022-09-19 18:44] j26151 commented on #430
This looks to have fixed the issue. Thank you!

[2022-09-19 18:48] eposse commented on #400
Closing it.

[2022-09-19 18:48] #400 closed

[2022-09-21 11:34] j26151 commented on #426
@eposse  Can you give any status on this issue?

[2022-09-21 16:08] eposse commented on #426
Hi. I don't have any updates on this. I can't reproduce it, and from the discussion above, @ysroh suggested that it might be related to multiple models open, they refer to each other and they are edited, but later it is mentioned that the exception occurs when only one model is opened. @ysroh said that we would filter out that exception, which is what I did with PR #427. This PR filters out the ex

[2022-09-21 16:11] j26151 commented on #426
Can we merge in the PR?

[2022-09-21 16:12] eposse commented on #426
Yes, I'll do that.

[2022-09-21 16:49] eposse commented on #426
It's merged and the build can be obtained [here](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/3099414154).

Shall we close this one and reopen if we get a more reliable reproducer?

[2022-09-21 16:51] j26151 commented on #426
Yes, I think that sounds like a good plan

[2022-09-21 17:14] #426 closed

[2022-09-23 12:42] j26151 opened #432 "Issue generating IDL on components with attributes"
# **Issue and tracking information**
After the most recent PR, I am unable to generate IDL on our BPS example. We get the following error:

![image](https://user-images.githubusercontent.com/49879646/191962375-e26e9a73-2e62-4dd6-9505-01f99c53e9b0.png)

A developer of ours noticed that you renamed the referenced "pathnameSlot" to "pathnamesSLot" and that maybe your zeligsoft_cx/bundles/com.zeligsof

[2022-09-23 12:43] j26151 commented on #432
@ysroh @eposse I know both of you are busy, but we encountered this bug here that is a blocker for a lot of our development and validation for our upcoming release.

[2022-09-23 14:15] ysroh commented on #432
We will fix it asap and let you know.

[2022-09-23 15:14] ysroh commented on #432
Code reviewed by Paul and fix merged onto papyrus branch.

[2022-09-23 18:18] ysroh commented on #430
Closing...

[2022-09-23 18:18] #430 closed

[2022-09-26 20:36] ysroh commented on #432
Let me know if I can close this ticket. thanks

[2022-09-26 21:46] ysroh commented on #432
Sounds good, thanks

[2022-09-26 21:46] #432 closed

[2022-10-04 14:14] ysroh commented on #425
@j26151 Looks like you can paste the text only if you select the "Source" button before pasting it. Can this be a workaround?

[2022-10-04 15:37] J17359 opened #434 "Tag for Zeligsoft CX 2.2.0 release and roll papyrus branch to 2.3.0"
# **Issue and tracking information**
### Developer's time Estimated effort to fix (hours):
### Developer's Actual time spent on fix (hours)
# **Issue reporter to provide a detailed description of the issue in the space below**

Could you please perform the following release steps in addition to any of your own?
1. Tag the latest hash from the `papyrus` branch for the 2.2.0 release
2. Branch off th

[2022-10-05 10:08] j26151 commented on #425
I think this works as a work around. Is there any way to configure the panel to be "Source" by default?

[2022-10-05 17:05] ysroh commented on #425
Unfortunately, that is not possible if the rich text editor is enabled. We enabled the rich text editor for Issue #252 but turning it off would be going back to the text-only comments editor.

[2022-10-06 10:47] j26151 commented on #425
Okay, we will talk a bit on our side to see what we want to do. Thank you for your response

[2022-10-06 14:14] ysroh commented on #425
I didn't notice this in Windows but was able to reproduce it in Linux. I will enable the text editor and test it.

[2022-10-06 14:37] ysroh commented on #425
Raised the following bug report to Papyrus: https://bugs.eclipse.org/bugs/show_bug.cgi?id=580867

[2022-10-06 14:42] ysroh commented on #425
Sounds good. I am making that change now.

[2022-10-06 14:50] j26151 commented on #425
Could we have the tag for v2.2.0 updated to include this fix? @J17359

[2022-10-06 14:51] ysroh commented on #425
Yes. I will be doing that.

[2022-10-07 16:21] ysroh commented on #434
Would you be able to test the pre-release of version 2.2.0? We are currently doing some basic testing but would like you to test this draft release to make sure everything looks good before making it official.

https://github.com/ZeligsoftDev/CX4CBDDS/releases/tag/v2.2.0-RC1

[2022-10-10 10:06] J17359 commented on #434
I'm building the RPM internally and then will have @j26151 perform a sanity check on it when he gets online. Will post back here afterwards!

[2022-10-10 14:05] j26151 commented on #434
I just briefly tested generated descriptors and IDL on a more complicated model of ours without seeing any issues. I also tested the new text editor change (removing RTF as default) and that worked as well.

[2022-10-11 11:37] J17359 commented on #434
@ysroh is there anything else you need us to verify before making the official tag?

[2022-10-11 13:29] ysroh commented on #434
Thanks for verifying the build. We will create an official v2.2.0 tag today and let you know.

[2022-10-11 15:41] J17359 commented on #434
I see the new tag now. Let me know once you've rolled the `papyrus` branch to the new version so we can ensure our latest 2.2.0 version matches your latest hash internally. Thanks again!

[2022-10-11 17:20] ysroh commented on #425
verified.

[2022-10-11 17:20] #425 closed

[2022-10-11 20:57] elder4p commented on #434
@J17359 : pull requests for a version bumped 2.3.0 papyrus branch and 2.2.1 v2.2.x-maintenance branch are above. The attached build artifacts should all be correctly versions. Have a quick look yourself to confirm and let me know.

[2022-10-12 15:46] J17359 commented on #434
@elder4p PRs look good to me! Thanks for the quick turnaround on this one!

[2022-10-12 15:49] J17359 commented on #434
@elder4p - actually, look at the 2.2.X PR for me. It might be missing changes in 2 files...

[2022-10-12 17:35] elder4p commented on #434
@J17359 : Good catch. Missed two files related to the v4.4.0 patch. Technically, not used any more, but if it's in the repo, it should build. Update coming shortly.

[2022-10-12 18:12] J17359 commented on #434
@elder4p - Looks good now!

[2022-10-13 13:19] elder4p commented on #434
PRs #436 and #437 have been merged. Closing.

[2022-10-13 13:19] #434 closed

[2022-11-04 21:12] eposse commented on #408
I've opened PR #438. I think it addresses this issue. UUIDs are replaced with CORBA scoped names with two exceptions:

1) The top-level UUID field of the CDP or CDD (since it is a UUID field after all)
2) The id of connectors, since the connector is identified by the source, the target, the data space and the node. In this case, for the is we use the same format at the name: <_dataspace-qual-name_

[2022-11-07 12:17] j26151 commented on #408
Can you attach an example CDP Generated in this new format? Possibly one for BPS.

Can you attach the same CDP generated with your suggestion here as well?

[2022-11-07 16:39] eposse commented on #408
I'm attaching the original CDP for BasicPubSub (for comparison), and two more: BasicPubSub_v1.cdp which has the updated ids but keeps the format for connectors, and BasicPubSub_v2.cdp with the proposed change.

Let me know what you prefer.

[BasicPubSub_original.cdp.txt](https://github.com/ZeligsoftDev/CX4CBDDS/files/9953650/BasicPubSub_original.cdp.txt)
[BasicPubSub_v1.cdp.txt](https://github.com

[2022-11-11 15:48] j26151 commented on #408
Thank you for the examples. I think I prefer the way that it is already and not the proposed change. The format of <conn>-to-<component>@<node>-<process> makes more sense to me than <conn>:<component>-to-<process>@<node>

One thing I am noticing here that might be an edge case that we never see is if we ever had 2 ports on the same component, connected to the same dataspace conn. I can't think of

[2022-11-11 20:26] eposse commented on #408
Yes we can add that.

[2022-11-14 22:47] eposse commented on #408
I've pushed the update and I'm attaching a new model that tests the scenario you suggested, including the case where the parts are nested inside some assembly. See the "ExtraComplexApp" example in the attached model. The zip file also includes the generated descriptors, both the original (before the change) and the newly generated ones.

Let me know if this is ok with you and if we can merge it an

[2022-11-16 11:59] j26151 commented on #408
This is looking better, but I still have a question regarding the format of connection IDs. What I am seeing is that the component name was removed and replaced by the port with a "msgIn" or "msgOut" added. I see the following:
`<conn>-to-<port>::msg[In, Out]@<node>.<process>`
We would like to show that that the connector <conn> is connecting to a given port on a component. E.g. `<component>::<por

[2022-11-16 19:24] eposse commented on #408
Sure. A build is available [here](https://github.com/ZeligsoftDev/CX4CBDDS/actions/runs/3465775641).

[2022-11-18 18:05] j26151 commented on #408
Thanks, I was able to try this out and not-surprisingly, AXCIOMA didn't like the new CDP. It looks like ':' and '@' are not well received. I looked it up, and the regex here: http://books.xmlschemata.org/relaxng/ch19-77215.html is all that is allowed in the xmi:idref field.

So, if we replace all "@" characters with "-at-" and all "::" with "_" it allows us to deploy.

[2022-11-18 19:03] eposse commented on #408
I've pushed the changes. The build should be ready in about 20min to 30min.

Just to confirm, AXCIOMA doesn't mind the '.' and '-' characters in the id?

[2022-11-19 12:52] j26151 commented on #408
As far as I can tell, anything here [-._:A-Za-z0-9] should be allowed. I am not sure why I saw issues with the colons but '.' and '-' did not cause issues when I did string replacements yesterday.

[2022-11-19 13:33] j26151 commented on #408
I tested out the new build this morning. The CDP files were able to run and deploy for a few of our examples, but it failed with our ClientServer deployment. I am attaching a meld screenshot between the old way and the new way.
![image](https://user-images.githubusercontent.com/49879646/202853136-4ef5d4ec-44ad-46e8-8882-fcd7a808b74a.png)
You can see that two different "instance" elements have the

[2022-11-21 22:58] eposse commented on #408
I've updated the generator to ensure the ids are unique. If an id has been generated before, then a suffix is added with a number.

But I would like to understand the situation in which that id conflict arose. What were the types of those two elements? Can you share the model, or perhaps the structure (to see how they are nested in the model)?

Thanks

[2022-11-21 23:30] j26151 commented on #408
The model is our ClientServer model that you should already have access to. I believe the place where it is occurring is on an interface objects for a component. Both the component and the interface object have the same ID.

[2022-11-21 23:45] eposse commented on #408
Is this the model? [https://github.com/ZeligsoftDev/cx-reproducers/tree/main/bug/416](https://github.com/ZeligsoftDev/cx-reproducers/tree/main/bug/416)

[2022-11-22 13:51] j26151 commented on #408
Thats a modified version of our ClientServer model. It should be exactly the same besides some extra references to our other example, BasicPubSub. I was fairly sure your team had access to all of our examples though. @ysroh Do you have them? Or should we add them again in another reproducer?

[2022-11-22 14:26] ysroh commented on #408
@j26151 We should have the model. I will find it for Ernesto.

[2022-11-22 17:54] j26151 commented on #408
I am still seeing the same bug with duplicate IDs with the most recent build.

One last thing once the duplicate ID bug is fixed. The top level ID is a UUID, which is fine and I don't really have an issue with that. However, at the very least, we really would prefer that it not be random. If the ID could be the name of deployment plan, that would probably work for us (with the unallowed characters